[2018-10-17 03:31] RockJesus opened #1 "How to make it suitable for my own PC"
Hi,This's a great work,and I wish i could have the same function on my Alienware 17 R4.
Any help will be Appreciated.
Could u share ur acpi tables & ioreg files ,Thx.

[2018-10-17 07:38] hieplpvip commented on #1
Send me your ACPI, I'll tell you where you need to look into

[2018-10-17 08:57] RockJesus commented on #1
Here it is。

[alienware17r4acpi.zip](https://github.com/hieplpvip/AsusSMC/files/2486551/alienware17r4acpi.zip)

[2018-10-22 08:22] zacharyrs opened #2 "Just a few questions..."
I currently use EMlyDinEsHMG's kexts for keyboard and touchpad, but considering they haven't been updated in a while, I'm eager for an alternative. I assume that this kext would hence replace the keyboard portions, but would not help regarding the touchpad.

I'm just wondering if you hence use EMlyDinEsHMG's touchpad parts, or perhaps you could point me in the direction of an alternative?

Also, a

[2018-10-22 16:03] hieplpvip commented on #2
1. It seems like you're misunderstanding AsusSMC. To be clear, it has nothing to do with keyboard support. AsusSMC only adds support for ALS and keyboard backlight, as well as Fn keys. You still need a keyboard kext (eg. VoodooPS2Controller or EMlyDinEsHMG's kexts).

2. I assume you have PS/2 trackpad. EMlyDinEsHMG's kexts are the best one now, you should continue using them.

3. AsusSMC is a repl

[2018-10-23 01:59] zacharyrs commented on #2
Hi, thanks for the response!

1. I apologise for the misunderstanding, but thanks for clarifying it.

2. Yes I do have a PS/2 trackpad. Guess I'll just wait it out for EMlyDinEsHMG to release the source...

3. I see, that makes sense.

4. No worries! Any chance you'd feel comfortable releasing your original and patched DSDT, so I can take a look and try reverse the patches for my own? No pressure

[2018-10-23 02:06] hieplpvip commented on #2
Take a look at my repo for Asus Zenbook https://github.com/hieplpvip/ASUS-ZENBOOK-HACKINTOSH

[2018-10-23 02:45] zacharyrs commented on #2
Thanks for the link! Probably should've looked at your profile myself oops...

Just having had a skim, I assume the following are files of interest:
- SSDT-ALS0
- SSDT-ALSC
- SSDT-RALS
- SSDT-ATK-BDW
- SSDT-ATK-KABY

Regarding ALS0, ALSC and RALS, I have no ambient light sensor, so would I be correct to assume I don't need any of these? Or do I hence need ALS0 to fake one as per the S510?

Regardi

[2018-10-23 03:13] hieplpvip commented on #2
What is your laptop?

[2018-10-23 03:13] zacharyrs commented on #2
Asus GL551JW

[2018-10-23 03:16] hieplpvip commented on #1
Alienware is not Asus laptop. Closed

[2018-10-23 03:16] #1 closed

[2018-10-23 15:14] hieplpvip commented on #2
Send me your CLVOER folder with original ACPI files

[2018-10-31 15:23] zacharyrs commented on #2
Sorry for the delay, I've been a little caught up with exams.
Attached is an archive of my clover config, and ACPI files.
The original source for my patches is found [here](https://github.com/zacharyrs/GL551JW-Hackintosh).

[CLOVER.zip](https://github.com/hieplpvip/AsusSMC/files/2535067/CLOVER.zip)

[2018-11-04 23:15] Xapixowy opened #3 "DSDT and laptop compatibility"
For a month i'm a proud owner of my new Asus Vivobook R520UF (X510UF). Does AsusSMC will be compatible with my laptop? There's a one thing stopping me from install Hackintosh - keyboard hotkeys (generally screen brightness and volume). I'm waiting for this plugin so much. Can I expect a DSDT patching guide this year?

[2018-11-04 23:34] hieplpvip commented on #3
I'm pretty busy now, not sure when I can write the guide.

**EDIT:** The instruction is available in the Wiki

[2018-11-05 16:28] hieplpvip commented on #2
@zacharyrs Instruction is available in the Wiki

[2018-11-05 21:05] anonymous-writer opened #4 "ASUS ZENBOOK UX330UAK with 4 keyboard backlight levels"
Hi hieplpvip,

Thanks for your very great work. Everything works on the above-mentioned laptop.
Only keyboard backlight do not want to work.

Should your kext also work with this kind of keyboard backlight?
I would be very happy about your answer.

https://bitbucket.org/anonymous_writer/asus-zenbook-ux330uak-high-sierra-efi/src/master/

[2018-11-05 22:53] zacharyrs commented on #2
Thanks very much!

I'll give it a go tonight.

[2018-11-05 23:19] hieplpvip commented on #4
Of course it works.

There an installation instruction in the wiki. You should also take a look at my [Zenbook repo](https://github.com/hieplpvip/ASUS-ZENBOOK-HACKINTOSH)

[2018-11-06 07:46] anonymous-writer commented on #4
You are the best. Thanks for the new ASUS Kext.
With take over of this entry in the DSDT.aml keyboard backlight works with 16 levels too.
Everything what you write works now with the kext AsusSMC.
Thanks again.

https://github.com/hieplpvip/ASUS-ZENBOOK-HACKINTOSH/blob/master/src/hotpatch/include/SSDT-ATK-KABY.dsl

[2018-11-06 07:46] #4 closed

[2018-11-08 21:36] zacharyrs commented on #2
Sorry for the delay, got a little distracted...

I've just tried applying, as per the hotpatches available in my repo.
[You can view them here.](https://github.com/zacharyrs/GL551JW-Hackintosh)

Unfortunately I'm running into a little trouble with the FN keys.
Specifically when I don't apply any of the function key patches, F1, F2, F5, F6, F8, and F9 don't work.
When I do apply the patches, the ab

[2018-11-09 22:21] anonymous-writer commented on #4
Hello @HIEPLPVIP,
Have your kext posted here. Hope this is OK for you.
Thanks again to your work.

https://www.hackintosh-forum.de/forum/thread/40125-hieplpvip-asussmc-f%C3%BCr-asus-laptops/?postID=461506#post461506

[2018-11-14 14:02] PtNan opened #5 "something wrong with my laptop keyboard backlight"
I have used the DSDT patch, almost everything works fine, but my keyboard backlight still doesn't work. However if I press Fn + f3 and f4, the adjust tips does show up. Do you have any clue why I can't turn keyboard light on?

[2018-11-17 04:36] zacharyrs commented on #2
I've been trying to figure out what I might be doing wrong, and I noticed you have an I2C as opposed to PS2 trackpad.

Is this perhaps incompatible with ApplePS2SmartTouchpad? I have removed AsusNBFNKey, and disabled the related sections...

---

I tried installing the debug variant, enabled the clover patches again and started playing around...

The following is logged for F3 and F4:
[code]

F5 a

[2018-11-28 08:04] tctien342 opened #6 "Bug chưa điều khiển được nhạc"
Bác Hiệp có thêm function này chưa ạ, e thử các tổ Hợp FN + Mũi tên thì chưa pause track vs next track và prev track đc

[2019-01-04 14:48] #3 closed

[2019-01-04 14:51] hieplpvip commented on #6
@tctien342 Sorry bạn, dạo này mình bận quá. Tết có thời gian rảnh mình sẽ fix

[2019-01-05 09:30] tenglendon opened #7 "I can hardly path my dsdt"

[2019-01-05 09:32] tenglendon commented on #7
I'm so  sorry for my request.
I had read the kiwi and trying my best to path my dsdt
but i still can't figure out what's the custome code.
please help me with it
thanks
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/2729373/DSDT.aml.zip)

[2019-01-05 09:33] tenglendon commented on #7
I'm so sorry for my request.
I had read the kiwi and trying my best to path my dsdt
but i still can't figure out what's the custome code.
please help me with it
thanks

[2019-01-12 08:16] hieplpvip commented on #7
[code]

I'm sorry that the instruction is confused.
Btw, I assume you are using Broadwell?

[2019-01-12 09:28] hieplpvip commented on #5
Installation instruction has been rewritten! Please try again

[2019-01-12 12:58] tenglendon commented on #7
SIR actually I’m not sure what I’m using
My legato is ASUS ROG G752VY
It’s cpu  = Intel® Core™ i7 6700HQ.
Intel® Skylake Core™ i7 ??

[2019-01-12 13:41] hieplpvip commented on #7
Nevermind. Do those codes work for you?

[2019-01-12 13:57] tenglendon commented on #7
Sir,I’m so sorry for my poor skill of pathing dsdt

5hose are my original DSDT and Pathed DSDT
Still, I can’t let my keyboard to light up

Sorry….
Sir would you kind enough to path it for me??

[2019-01-13 10:03] PtNan commented on #5
It works well, thanks!

[2019-01-13 10:46] #5 closed

[2019-01-13 11:42] hieplpvip commented on #6
Bạn dùng thử patch này đi:
[code]

[2019-01-13 17:29] hieplpvip commented on #2
@zacharyrs I have updated the instruction, you may want to try again

[2019-01-13 17:32] hieplpvip commented on #7
I'm afraid that you have to patch it yourself.
The instruction has been rewritten, try again!

[2019-01-14 23:12] valinor61 opened #8 "DSDT patches is not even close to my DSDT"
I have Asus GL553VD laptop it's a kabylake 7700hq device all patches in new repo seems not working on my device I installed kext also it dependencies(VirtualSMC and Lilu) I can see it on ioreg.
Here is my DSDT can you look at it?
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/2757402/DSDT.aml.zip)

[2019-01-15 00:00] hieplpvip commented on #8
@valinor61 Are you sure that your laptop has keyboard backlight? I don't see any code related to keyboard backlight in your DSDT.

[2019-01-15 08:45] zacharyrs commented on #2
@hieplpvip 	I'll take at them soon, and see if I can spot what went wrong.
Just a little bogged down with other stuff right now.

For now I'll mark this as closed.

[2019-01-15 08:45] #2 closed

[2019-01-15 10:41] e-senturk commented on #8
Soory for delayed reply I have red keyboard backlight. it has 3 different brightness level function keys are fn+f3 and fn+
![4add3928-e3dc-420d-8bea-a6a8cb132eb1](https://user-images.githubusercontent.com/29388244/51175384-3fd71a00-18cb-11e9-9afc-81bed135ecd7.jpg)
f4

[2019-01-15 13:03] hieplpvip commented on #8
@valinor61 Your case is very weird, I'll do more research into it later. Now I'm pretty busy studying, sorry

[2019-01-15 13:42] e-senturk commented on #8
Ok thanks I hope you can figure it out on your free time.

[2019-01-18 13:17] makito89 opened #9 "No volume function keys on Mojave"
Hello.
I'm using an UX330UA with Skylake i7 6500U and I've successfully installed your AsusSMC.kext and have all the other function keys working (F1-Sleep, F2-Airplane mode, F3/F4-Keyboard Bakclight, F5/F6/F7-LCD Backlight, F8-LCD/External Display, F9-I2C Trackpad ON/OFF) but the F10/F11/F12 - Volume buttons do not work.
I'm using DSDT hot patching and this what is present in DSDT after the patch

[2019-01-18 18:44] hieplpvip commented on #9
Please send me your CLOVER folder

[2019-01-18 19:50] makito89 commented on #9
I've attached the CLOVER folder including the original dump of ACPI (F4 in clover boot).
[CLOVER.zip](https://github.com/hieplpvip/AsusSMC/files/2774312/CLOVER.zip)

[2019-01-24 23:14] makito89 commented on #9
After more tests I think the issue is not with AsusSMC but with AppleALC.
I used the same CLOVER configuration (hot patches and kexts) with previous versions of OsX from 10.11 to 10.13 and it works as it should. The difference between them is the fact that in Mojave the sound is no longer obtained via clover patching of the AppleHDA kext but by using AppleALC kext.
Possible that the AppleALC kext

[2019-02-14 05:15] mastermoon76 opened #10 "another cpu"
hello, i'm using an asus N551JW with an i7-4720HQ Haswell CPU... attached you will find the DSDT file.. hope you can make the patch for this model.. thank you...
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/2863399/DSDT.aml.zip)

[2019-04-22 20:05] wanttolove opened #12 "Patch DSDT giúp mình với bạn ơi"
[Send me macs-MacBook-Pro.zip](https://github.com/hieplpvip/AsusSMC/files/3104704/Send.me.macs-MacBook-Pro.zip)
Mình patch cái kbl của bạn vào thì báo lỗi WRAM is not accessible from this scope. Bấm fn+f3 thì vẫn nhảy popup bình thường nhưng ko có tác dụng gì cả. Thanks

[2019-05-03 11:45] andreszerocross opened #13 "Backlight Keyboard WhiskeyLake Asus Notebook (Asus Vivobook UX333FN-A5811T)"
I try this Kext and Patch for WhiskeyLake notebook,  with this code in SLKB
`Method (SLKB, 1, NotSerialized)
        {
            Store (And (Arg0, 0x7F), KBLV)
            If (And (Arg0, 0x80))
            {
                Store (DerefOf (Index (PWKB, KBLV)), Local0)
            }
            Else
            {
                Store (Zero, Local0)
            }

            ST9E (0x1F, 0xFF, Lo

[2019-05-03 15:03] hieplpvip commented on #13
@andreszerocross Please upload your DSDT

[2019-05-03 15:10] andreszerocross commented on #13
[Orignal DSDT + Patched DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/3142462/Orignal.DSDT.%2B.Patched.DSDT.zip)

Here you go

[2019-05-03 15:23] hieplpvip commented on #12
Bạn dùng patch của Broadwell nha

[2019-05-03 15:33] hieplpvip commented on #12
Mình update patch rồi đó bạn. Bạn thử lại nha

[2019-05-03 15:35] hieplpvip commented on #10
Please use patch "[kbl] Haswell/Broadwell/Skylake"

[2019-05-03 15:36] #7 closed

[2019-05-03 15:37] hieplpvip commented on #7
I have made automatic patches which should work well for you!

[2019-05-03 15:37] #10 closed

[2019-05-03 15:43] hieplpvip commented on #13
How do you both increase/decrease keyboard backlight with just 1 button in Windows?

[2019-05-03 15:47] hieplpvip commented on #13
@andreszerocross Keep _Q0C and _Q0D as original. In method KBLU change 0xC7 to 0xC4.
Tell me if it works

[2019-05-03 15:55] andreszerocross commented on #13
I will try 0xC7 to 0xC4 and report here,,

Btw, i don't make any change to _Q0C,, because when i use ACPIDebug.kext Fn + F7 = _Q0D. Maybe _Q0C for another combination button

[2019-05-03 15:57] andreszerocross commented on #13
In windows,, when you press it continue,, then it will be increase until high level (4 level), when you are at high level backlit, then if you press it again, it will turn off, and when you press again, it will start from level 1 backlit keyboard

[2019-05-03 16:04] andreszerocross commented on #8
This notebook model use HSxx of XHC controller as keyboard interface,, not PS2.

I have installed similar ROG and generations,, when i check IOREG, keyboard is ITE xxx in HSxx port of XHC. Maybe it's the issue

[2019-05-03 16:56] andreszerocross commented on #13
@hieplpvip i change C7 to C4. It's work for increase backlight keyboard and there is notif in built-in display. But, no capability to decrease backlight

[2019-05-03 17:26] andreszerocross commented on #13
So, i have temporary solution.

When i track EC Query for FN + F6 with ACPIDebug.kext,, i found it related to _Q12. Then i made a change to _Q12 to

[code]

And Increase and decrease backlight is working now,, normally FN + F6 is for disabling touchpad.

Yes i know this is temporary solution, maybe you have and idea to mix KBLD and KBLU in single Method Query

[2019-05-03 17:27] andreszerocross commented on #13
![831b6848-f727-4679-be97-108f885bd84e](https://user-images.githubusercontent.com/9614101/57154552-5e720a00-6e03-11e9-9ca7-94add2ed9712.jpeg)
As you can see,, only single button to increase and decrease backlight keyboard as default

[2019-05-04 09:56] hieplpvip commented on #13
I haven't come up with a fix yet. However, there is a better temporary solution: Use Karabiner-Elements to remap F7 to decrease keyboard backlight. In this way, you don't have to sacrifice Fn+F6. Fn+F7 would increase keyboard backlight, and F7 only would decrease keyboard backlight.

[2019-05-04 18:46] wanttolove commented on #12
Lần này thì nó ko báo lỗi nữa nhưng vẫn như cũ bấm hiện ra nhưng ko tác dụng gì. windows vẫn sử dụng đc. đã thử cả 3 patch broadwell, kaby với cả whiskey. máy mình là kaby-R

[2019-05-05 01:18] hieplpvip commented on #12
Gửi mình file debug theo link này: https://www.tonymacx86.com/threads/tool-generate-proper-problem-reporting-files.235953/

[2019-05-05 14:39] wanttolove commented on #12
[debug_24314.zip](https://github.com/hieplpvip/AsusSMC/files/3145646/debug_24314.zip)
đây b ơi. thanks

[2019-05-05 15:26] hieplpvip commented on #12
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/3145691/DSDT.aml.zip)

Bạn xoá kext AsusNBFnKeys nha.

[2019-05-05 19:47] wanttolove commented on #12
ok được rồi thank bạn nhiều nhé. vn no1 :D

[2019-05-06 04:15] #12 closed

[2019-05-07 13:54] williambj1 opened #15 "Capability to ROG Coffee Lake Devices"
@hieplpvip Hi!
First of all, thanks for your great kext! It worked awesome on my old ASUS laptop.
Recently, I'm working on my ROG GX531, and the only things after the trackpad are the Fn keys and keyboard backlight.
- This is a laptop with a Coffee Lake processor, and the patch is not available in the repo yet.
- I'm not sure whether the brightness of the keyboard will work for ROG keyboards.
- RO

[2019-05-07 15:00] williambj1 commented on #15
Sorry, this might be duplicated with #8
Maybe it's the same as this case https://github.com/hieplpvip/AsusSMC/issues/8#issuecomment-489150052

[2019-05-07 16:51] hieplpvip commented on #8
@valinor61 Your laptop seems to use a different interface for keyboard backlight (which I believe something called Aura). I've found Aura port for Linux, now we just need to port it to macOS.
Will do when I have time.

For now, can you use ACPIDebug to find which EC method (i.e. Q** in DSDT) corresponding to keyboard backlight fn keys?

**EDIT:** Done some more research. As @andreszerocross, this

[2019-05-07 18:09] hieplpvip opened #16 "TODO"
- [ ] Support backlight on USB keyboard. Ref: [Linux kernel](https://github.com/endlessm/linux/commit/aae7c7a42f03f030bb5cc2d5708200f1c571c063)

[2019-05-08 07:06] e-senturk commented on #8
Yes Q in DSDT is not working on my device also I have no asus aura its for rgb keyboards mine use hid interface i realized that after while I hope it can be fix I have no clue for fixing it

[2019-05-08 16:08] hieplpvip commented on #8
@valinor61 Please send me output from gen_debug

[2019-05-14 10:25] tunglamvghy opened #17 "Không điều chỉnh được Keyboard Backlight máy S530UN, bản KabylakeR"
Bác Hiệp cho e xin cách sửa với. Máy đã làm theo hướng dẫn nhưng không thể tắt được đèn nền bàn phím, nó ở chế độ luôn luôn sáng.
ACPIDebug:
Fn + F1: mute
Fn + F2: giảm âm
Fn + F3: tăng âm
Fn + F4: giảm ánh sáng => _Q0E  <hoạt động tốt>
Fn + F5: tăng ánh sáng => _Q0F   <hoạt động tốt>
Fn + F6: tắt Touchpad => _Q12
Fn + F7: bật đèn nền bàn phím => _Q0D <không hoạt động>
Fn + F8: máy chiếu => _Q11 <

[2019-05-22 02:10] TineshSuresh opened #18 "Add Support For Skylake keyboard backlight"
Thanks For this driver. Actually most of the fn keys working except Keyboard backlight F3/F4.
The patches provided for Skylake keyboard is not matching in my dsdt.

I have attached the working patch for keyboard backlight:
I have to insert this code under this method :

Method SCDG {} :

            Name (BOFF, Zero)
            Method (SKBL, 1, NotSerialized)
            {
                If (Or

[2019-05-22 03:11] hieplpvip commented on #18
My current patch for Skylake is similar to the patch working for you. There's no way to know why without your EFI folder.

Please send me your EFI folder

[2019-05-22 11:37] TineshSuresh commented on #18
[EFI.zip](https://github.com/hieplpvip/AsusSMC/files/3207159/EFI.zip)

[2019-06-03 07:41] souhaiebtar opened #19 "just a question, what is als and how to check it ?"

[2019-06-05 03:49] hieplpvip commented on #19
ALS stands for "Ambient Light Sensor", which detects light level and adjust screen backlight automatically.

To check ALS, download debug version, add boot arg `-asussmcdbg`. Reboot, open `Console` then search for `AsusSMC` or `als` (not sure which one, sorry)

[2019-06-08 19:41] souhaiebtar commented on #19
thanks

[2019-06-08 19:41] #19 closed

[2019-06-10 05:03] YUWEN9410 opened #20 "Support for macOS 10.15"
The keyboard backlight failed in 10.15 beta.

[2019-06-10 07:41] YUWEN9410 commented on #20
asus N552vw6700

[2019-06-12 19:56] fgvilches opened #21 "Fn key mapping"
Can you help me?, i tried anything but nothing works
I have a core i3-7020U Asus vivobook 14 X420

PD: There you have my efi folder
https://inacapmailcl-my.sharepoint.com/:u:/g/personal/felipe_gonzalez246_inacapmail_cl/EZXOpf1tdVFFkzZory3QMj8Bfnlysw243QKIfrcgnnWnjQ?e=U9jPVJ

[2019-06-12 20:06] hieplpvip commented on #21
You're using FakeSMC, not VirtualSMC

[2019-06-15 09:35] anonymous-writer commented on #20
Also on ASUS Zenbook UX430UAK. The brightness will not changed but the icon on the laptop screen appears.
All other functions work under Catalina.

I would also like to thank you for your previous work. Until Mojave the kext works perfectly.

[2019-06-15 10:52] hieplpvip commented on #20
#### About keyboard backlight:
Have you updated VirtualSMC to latest version?
Keyboard backlight depends on SMC. That keyboard backlight doesn't work while the other functions work suggest that there's a problem with SMC simulation.

#### About screen brightness:
AsusSMC only sends fake keyboard press event (like on real Mac) to make macOS change brightness. It doesn't change brightness directly.

[2019-06-15 15:32] anonymous-writer commented on #20
Sorry @hieplpvip ,
I write brightness and mean keyboard backlight. Screen Brightness work perfekt.

I use VirtualSMC  1.1.1.

<img width="445" alt="Bildschirmfoto 2019-06-15 um 17 36 39" src="https://user-images.githubusercontent.com/35840715/59553376-570e5680-8f94-11e9-8943-239ee48b57cd.png">

[2019-06-15 15:49] hieplpvip commented on #20
I'd wait for final release of Catalina before updating. There's not much I can help you now, sorry.

[2019-06-15 20:00] anonymous-writer commented on #20
Small temporary solution meanwhile, this works great with Catalina and AsusSMC and keyboard backlight.

https://www.heise.de/download/product/lab-tick-37046/download

[2019-06-15 23:37] fgvilches commented on #21
All working now!, thanks for your help.
Can you help me to get my fn layout? it's different for my X420.

PD: Do you have any idea of why I can`t get hibernation working?

[2019-06-15 23:51] fgvilches commented on #21
Any idea of why it takes forever for my pc to boot with VirtualSMC?

[2019-06-16 00:27] YUWEN9410 commented on #20
Thanks to the author @hieplpvip  for his efforts, I have tried to use AsusNBFnKeys.kext. The keyboard backlight is normal, but the keyboard backlight icon does not appear on the computer monitor when the keyboard backlight is adjusted, because the driver is too old.

[2019-06-16 00:44] YUWEN9410 commented on #20
I am now rolling back to mojave, and the keyboard backlight is normal. Maybe catalina has some bugs

[2019-06-16 00:55] hieplpvip commented on #20
@anonymous-writer What is that?

[2019-06-16 01:46] hieplpvip commented on #21
I'm not sure if Hibernation would ever work on Hackintosh.

Did you remove SMCHelper?

[2019-06-16 04:01] fgvilches commented on #21
I removed SMCHelper but still taking forever to boot.
Also, can you help me with de fn key mapping for my model?.
by hibernation I mean Sleep/Wake Function...
Some videos on youtube show that works.

[2019-06-16 04:19] hieplpvip commented on #21
I don't have time to look thoroughly your problem.

There's already a full working build for Vivobook that can help you [here](https://github.com/tctien342/Asus-Vivobook-S510UA-High-Sierra-10.13-Hackintosh)

[2019-06-16 09:23] anonymous-writer commented on #20
Hello @hieplpvip ,
A keyboard backlight slider that works great with your kext and that also already works under Catalina.

<img width="445" alt="Bildschirmfoto 2019-06-16 um 11 19 02" src="https://user-images.githubusercontent.com/35840715/59562127-114f9d80-9029-11e9-9c29-eea6e2bd3cea.png">

[2019-06-18 15:58] #21 closed

[2019-06-27 17:29] hieplpvip commented on #8
@valinor61 Could you send me your ioreg report?

[2019-06-28 01:58] yamvmax commented on #13
@andreszerocross

I have same KB as you, could you please help me get kb lights working? I am fine with using f6, and f7 like you have.

[2019-06-28 14:11] yamvmax opened #23 "Backlight Keyboard ASUS VivoBook Flip 14 TP412UA-IH31T Core i3-8130U"
Cant get KB light to turn on. Using asusSMC, and fn patches, and KB patch. My keyboard only has 1 fn key for KB light. Please help.

[2019-06-29 00:36] hieplpvip commented on #23
Attach your DSDT

[2019-06-29 01:34] yamvmax commented on #23
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/3341279/DSDT.aml.zip)

[2019-06-29 01:34] yamvmax commented on #23
Here it is

[2019-06-30 22:59] yamvmax commented on #23
Should I use asusfn keys???

[2019-07-01 11:55] hieplpvip commented on #23
@yamvmax I saw no method relating keyboard backlight in your DSDT.
Please attach your IOReg report.

Which Fn key do you use to control keyboard backlight?

[2019-07-01 17:53] yamvmax commented on #23
@hieplpvip will do later on. Thanks. BTW, I believe I have the same kb as someone else here posted. Just one fn key for the kb light. I use fn 7

[2019-07-01 21:40] yamvmax commented on #23
Send me richs-MBP.zip

Here you go, just unzip. Everything is in there. Thanks

[2019-07-01 21:41] yamvmax commented on #23
[Send me richs-MBP.zip](https://github.com/hieplpvip/AsusSMC/files/3347419/Send.me.richs-MBP.zip)

[2019-07-01 21:41] yamvmax commented on #23
sorry, there it is

[2019-07-02 01:56] hieplpvip commented on #23
@yamvmax Your laptop uses a new method for changing keyboard backlight.
I'm working on support for HID-based keyboard. Will add support for you when I finish

[2019-07-02 08:28] yamvmax commented on #23
Ok, great! Thanks.

[2019-07-02 14:35] yamvmax commented on #23
Any possibility of some workaround in the meantime? If not, I'm willing to test anything you come up with! Thanks again.

[2019-07-02 22:18] hieplpvip commented on #23
Use `ACPIDebug` to find which method is called in DSDT when pressing Fn keys for keyboard backlight. (I believe it is `_Q66`, but I need confirmation)

[2019-07-03 00:05] yamvmax commented on #23
Yes, i am getting Q66

[2019-07-03 15:54] overnightmare95 opened #25 "Can't save keyboard light to 0 upon reboot/shutdown"
Hi, thanks for this kext. There's only one thing bothering me, I can't set keyboard backlight to 0 (turned off) when I restart (I hate keyboard light when I don't need it). If I set other levels (1-2-3-4), that level is saved upon restart. Is it solvable?

[2019-07-03 17:26] hieplpvip commented on #25
AsusSMC only serves as the interface of macOS and ACPI. It doesn't store keyboard backlight.
This should be a problem with how macOS handle keyboard backlight. Closed.

[2019-07-03 17:26] #25 closed

[2019-07-12 16:54] JoK3rLeE opened #26 "VirtualSMCSDK/kern_vsmcapi.hpp' file not found"
Failed to build, Error
VirtualSMCSDK/kern_vsmcapi.hpp' file not found.

[2019-07-12 17:07] hieplpvip commented on #26
You don't have debug versions of `VirtualSMC` and `Lilu` in root folder of `AsusSMC`.

To download them automatically, run `sh Scripts/bootstrap.sh`.

[2019-07-12 17:07] #26 closed

[2019-07-17 07:12] MohammadtaghiFarkhondekar opened #27 "GL553VD"
HI.
please add Asus Aura core for the laptop to your kexts bc aura keyboard backlight doesn't work.

[2019-07-17 07:12] MohammadtaghiFarkhondekar commented on #27
https://github.com/wroberts/rogauracore/issues/4
https://github.com/wroberts/rogauracore

https://linux-hardware.org/index.php?id=usb:0b05-1854

[2019-07-17 14:27] hieplpvip commented on #27
Test this one please [1.2.0.RELEASE.zip](https://files.gitter.im/hieplpvip/AsusSMC/vvPz/1.2.0.RELEASE.zip)

[2019-07-17 15:15] MohammadtaghiFarkhondekar commented on #27
Thank you . Does it need to patching for working ?

[2019-07-17 15:25] MohammadtaghiFarkhondekar commented on #27
Ok . I test it without any patching .
F1+FN working good
F2+FN I think working bc I haven't wifi card for set it on turn off mode.
F3 and F4 aren't working
F5 and F6 are working so good but F14 and F15 alsoe are working
F7 is working
F8 I think it doesn't working .
F9 is working but without showing the system notification for turn off track pad.
F10,F11,F12 are working good.
Can you make Aura core

[2019-07-17 18:21] hieplpvip commented on #27
On Windows/Linux, Aura driver sends commands to the keyboard through the USB protocol.
Unfortunately, I've not figured out how to to it properly on macOS, so keyboard backlight is not working now.

[2019-07-17 18:44] MohammadtaghiFarkhondekar commented on #27
That's right . Aura core has open source project in GitHub I think it can help for fixing .
In Mac OS it's connected by usb , name ITE Device (8910).
Product ID : 0x1854

[2019-07-17 19:17] MohammadtaghiFarkhondekar commented on #27
https://www.asus.com/campaign/aura/fl/Partners-and-promotions.html

[2019-07-17 19:45] hieplpvip commented on #27
I've already known all you said...

[2019-07-17 19:50] MohammadtaghiFarkhondekar commented on #27
https://gitlab.com/thelastguardian/openpyaura

https://github.com/CalcProgrammer1/KeyboardVisualizer

[2019-07-18 04:33] hieplpvip commented on #27
[rogauracore.zip](https://github.com/hieplpvip/AsusSMC/files/3404755/rogauracore.zip)

Hi @MohammadtaghiFarkhondekar, can you test this? It's compiled for macOS from source code of rogauracore that you gave

[2019-07-18 07:39] MohammadtaghiFarkhondekar commented on #27
Hi. Thank you so much. how can I test it?
I opened it =>
![Screen Shot 1398-04-27 at 12 11 08](https://user-images.githubusercontent.com/35239600/61438972-dd340900-a955-11e9-8951-436322fa16f3.png)

[2019-07-18 11:17] hieplpvip commented on #27
Another one has tested it and confirmed it doesn't work...

[2019-07-18 11:27] MohammadtaghiFarkhondekar commented on #27
I tested ubuntu 18.04 and it have Aura driver and it can control keyboard backlight.
https://linux-hardware.org/index.php?id=usb:0b05-1854

[2019-07-18 13:14] hieplpvip commented on #27
Test this [one](https://files.gitter.im/hieplpvip/AsusSMC/O3yC/1.2.0.RELEASE.zip)

Note that macOS supports 16 levels, while your keyboard only support 4 level, so:
- Level 0-4 of macOS -> level 0 of your keyboard
- Level 5-8 of macOS -> level 1 of your keyboard
- Level 9-12 of macOS -> level 2 of your keyboard
- Level 13-16 of macOS -> level 3 of your keyboard

[2019-07-18 14:55] MohammadtaghiFarkhondekar commented on #27
Thank you. just replace kext?
I replaced kext and reboot again but keybord backlight with FN key (f3,f4) doesn't work.

[2019-07-18 15:05] hieplpvip commented on #27
Where do you install kexts?
If it is /L/E, have you rebuilt kext cache?

[2019-07-18 15:10] MohammadtaghiFarkhondekar commented on #27
Clover folder . Need to install in the system ?

[2019-07-18 15:34] hieplpvip commented on #27
CLOVER should be good.
Please send me your IOReg

[2019-07-18 15:36] MohammadtaghiFarkhondekar commented on #27
Ok. I'm going to get file now and send it

[2019-07-18 15:44] MohammadtaghiFarkhondekar commented on #27
[MacBook Pro-rog553vd.zip](https://github.com/hieplpvip/AsusSMC/files/3407306/MacBook.Pro-rog553vd.zip)

[2019-07-18 21:14] hieplpvip commented on #27
@MohammadtaghiFarkhondekar Does the badge show up when you press Fn+F3/F4?

[2019-07-18 21:19] MohammadtaghiFarkhondekar commented on #27
Hi. No. Any things don't show when I press FN+F3/F4. But
System doesn't play sound about without commend key .

[2019-07-19 02:05] williambj1 commented on #27
Seems that you're missing libusb, :)
`brew install libusb` should solve that error.
However, I've confirmed that this didn't work for me. Some people say that libusb is dead on macOS Mojave, currently, I don't have HS.

[2019-07-19 05:30] hieplpvip commented on #27
@MohammadtaghiFarkhondekar [1.2.0.RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/3409591/1.2.0.RELEASE.zip)

[2019-07-19 05:59] MohammadtaghiFarkhondekar commented on #27
Oh my God . Woooooooooooow . Thank you so much . Your work is so nice.
Now keyboard backlight working great but without  showing badge like touchpad (F9).
Can you make manager app for Aura core like Linux project ?
Thank you

[2019-07-19 06:01] hieplpvip commented on #27
@MohammadtaghiFarkhondekar will do when I have time, not now sorry

[2019-07-19 06:01] #27 closed

[2019-07-19 08:51] MohammadtaghiFarkhondekar commented on #27
Thank you, your project link add to [https://github.com/MohammadtaghiFarkhondekar/macOS-Mojave-For-Asus-ROG-GL553VD/blob/master/README.md](url)

[2019-07-20 10:46] hieplpvip commented on #27
[ROGAuraCore.zip](https://github.com/hieplpvip/AsusSMC/files/3413504/ROGAuraCore.zip)
@MohammadtaghiFarkhondekar test this

[2019-07-20 10:54] MohammadtaghiFarkhondekar commented on #27
Hi.
![Screen Shot 1398-04-29 at 15 24 12](https://user-images.githubusercontent.com/35239600/61577862-815ab300-ab02-11e9-93fd-251d441a902e.png)
 thank you. how can I use it?

[2019-07-20 11:00] MohammadtaghiFarkhondekar commented on #27
woooooorking

[2019-07-20 11:01] MohammadtaghiFarkhondekar commented on #27
![Screen Shot 1398-04-29 at 15 30 16](https://user-images.githubusercontent.com/35239600/61577909-558bfd00-ab03-11e9-90de-6598cde8c5cd.png)
can you make UI for it?

[2019-07-20 11:03] MohammadtaghiFarkhondekar commented on #27
wooooooooooooooooow . its wooooooooork soooooo goooooooooooooood .
it's need UI . it's better than asus app for aura !
it's the first app for aura for mac on the word by you!

[2019-07-20 19:10] hieplpvip commented on #27
@MohammadtaghiFarkhondekar I've published the program at [macrogaura](https://github.com/hieplpvip/macrogaura/)

I'm not good at designing UI. You'd better wait for someone else to do it.

[2019-07-20 19:41] MohammadtaghiFarkhondekar commented on #27
it's a good app. thank you for making it.
I think it doesn't need pro UI  .
Asus aura core app in windows
![image](https://user-images.githubusercontent.com/35239600/61583336-1df57300-ab4c-11e9-96f1-9e031872054a.png)

[2019-07-20 20:12] MohammadtaghiFarkhondekar commented on #27
I add your project to gl553vd page and I will make a video about it .

[2019-07-23 19:47] #15 closed

[2019-07-23 19:48] hieplpvip commented on #8
v2.0 added support for this laptop

[2019-07-23 19:48] #8 closed

[2019-07-23 19:48] #6 closed

[2019-07-24 02:58] hieplpvip commented on #17
Dùng patch `[kbl] Kaby Lake/Kaby Lake-R`. Lúc này nhấn Fn+F7 sẽ tăng level đèn bàn phím.

Vì máy bạn chỉ có một phím Fn cho đèn bàn phím nên bạn cần map thêm phím thứ hai: Dùng Karabiner map phím F7 thành illumination_decrement.

Kết quả: Fn+F7->tăng; F7->giảm

[2019-07-24 02:58] #17 closed

[2019-07-24 16:30] andreszerocross commented on #13
Upload your IOREG and your current DSDT.aml

[2019-07-24 17:36] yamvmax commented on #13
It's here
https://github.com/hieplpvip/AsusSMC/issues/23#issuecomment-507436350

[2019-07-29 23:27] angeljavan opened #28 "Can't find 'ALS' in the 'DSDT'"
My noteBook is FX80GE(FX504GE),I can't find 'ALS' in the 'DSDT',but I cant find 'ALSC' and 'ALSS'.when  apply patch [als] Patch ALSS ,There was a mistake in the 'DSDT'

[2019-07-30 00:45] williambj1 commented on #28
ROG Keyboards have different key caps :)

[2019-07-31 01:34] wr-yt commented on #28
Can this product only be used in the ROG series?

------------------ 原始邮件 ------------------
发件人: "Bat.bat"<notifications@github.com>;
发送时间: 2019年7月30日(星期二) 上午8:45
收件人: "hieplpvip/AsusSMC"<AsusSMC@noreply.github.com>;
抄送: "坚持之薰衣草"<1679227405@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [hieplpvip/AsusSMC] Can't find 'ALS' in the 'DSDT' (#28)

ROG Keyboards have different key caps :)

—
You

[2019-07-31 11:22] wr-yt commented on #28
These two files will conflict ，the voodooI2c ,the ASUSSMC

[2019-07-31 11:34] angeljavan opened #29 "I say.."
I also want to give you financial support, but I am in China, basically using Alipay WeChat, please understand. Also as a developer, like you

[2019-08-01 03:03] williambj1 commented on #28
I suppose it's not an issue caused by VoodooI2C, I have the same keycaps as yours (ROG) and all Fn keys work well on the correct keycaps.

- Chinese Translation

[2019-08-02 00:03] wr-yt commented on #28
You are right. But my touchpad feels a bit stuttering, what is the problem?

------------------ 原始邮件 ------------------
发件人: "Bat.bat"<notifications@github.com>;
发送时间: 2019年8月1日(星期四) 中午11:03
收件人: "hieplpvip/AsusSMC"<AsusSMC@noreply.github.com>;
抄送: "坚持之薰衣草"<1679227405@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [hieplpvip/AsusSMC] Can't find 'ALS' in the 'DSDT' (#28)

I suppose it's not a

[2019-08-10 15:21] andreszerocross opened #30 "Can't compile"
![image](https://user-images.githubusercontent.com/9614101/62823628-270eb880-bbbd-11e9-99dd-26fa27801492.png)

Any clue??

[2019-08-10 15:25] #30 closed

[2019-08-12 10:59] maxhartung opened #31 "Question about Function Keys"
Hi,

There is a way to use the function keys without pressing the FN button ? I don't have an option for this in the UEFI.

Thanks !

ASUS X541UAK.

[2019-08-12 15:20] williambj1 commented on #31
You could use Karabiner-Elements instead, not a good solution though.

[2019-08-12 15:26] maxhartung commented on #31
Or better one which came into my mind, modify the HIDUsage with another key code but idk if that's the right thing to do...

[2019-08-24 11:31] tutu0815 opened #32 "[solved]UX310 Patch Problems"
Dear hieplvip,
When I follow your AsusSMC installtion Guide to Patch My DSDT, I got some problem, my laptop is ASUS UX310.

1. Follow step 1.1.1 , I found no `ALS0` device,but `ALS Device` is avarible, so I patched it manually by instead `Device (ALS0) `with` Device (ALS)`.
Am I right?

2. Follow step 1.1.2 , after patch `ALSS`, I got no method `ALSC` in `device ATKD`, so I Patch `ALSC` with your

[2019-09-01 04:02] rizkialkaf opened #33 "need help: UX305FA"
Hi, need help here.
i have an ASUS UX305FA, its a broadwell laptop with intel core M and intel HD 5300. it has an ambient light sensor, but no keyboard backlight.
i already have a working hackintosh since a few years ago. And a working ambient light sensor using AsusNBFnKeys.kext and SSDT-ALS.aml.
but then i read that this AsusSMC.kext is the future so i want to give it a try. (what's the differen

[2019-09-06 11:58] AlexFullmoon opened #34 "K501UQ - different backlight patch needed"
This laptop requires somewhat different keyboard backlight patch. See attached DSDT, I used this patch:
[code]
Note that original PWKB had 4 backlight levels. Probably it might be made to work without PWKB.
[DSDT-clean.dsl.zip](https://github.com/hieplpvip/AsusSMC/files/3579233/DSDT-clean.dsl.zip)

[2019-09-12 20:22] MohammadtaghiFarkhondekar commented on #27
Hi .
How are you good developer ?
Now in 10.15 , Asus smc doesn't working and when I use it my keyboard doesn't working !

[2019-09-12 20:32] MohammadtaghiFarkhondekar commented on #20
After installing 10.15 my keyboard doesn't working and I removed asussmc and after that keyboard start to working !
I don't know why ! Because in 10.14.6 it works very well .
What's file type do you need for debugging ?

[2019-09-13 15:49] williambj1 opened #35 "Dependency com.apple.iokit.IOHIDSystem was not found for kext com.hieplpvip.AsusSMC"
Hi! @hieplpvip

When I was debugging with OpenCore Logs, I found this

[code]

- System: 10.14.6 (18G95)
- OpenCore Version: 0.5.1 Build 2019-09-10

[2019-09-15 10:37] hieplpvip commented on #35
I'll look into it after I solve the problem with HID-based keyboard. I also prefer to wait for stable version of OpenCore.

[2019-09-15 10:39] hieplpvip commented on #9
On Mojave, Apple removed a lot of layouts from AppleHDA, so traditional patching won't work. AppleALC is the only way to go now.

[2019-09-15 10:39] #9 closed

[2019-09-15 10:48] hieplpvip commented on #29
Hello @angeljavan,

I created this kext not only to finalize my Hackintosh build, but also to contribute back to the Hackintosh community. Without this community, I would never be able to install macOS on my laptop.

Donation is welcome but never required. I'll always keep this kext free and open-source, and I'll try to update it as long as possible.

I'm very happy to know that my kext is helpful

[2019-09-15 10:48] #29 closed

[2019-09-15 12:25] MohammadtaghiFarkhondekar commented on #20
??? please make kext for 10.15

[2019-09-23 11:49] anonymous-writer commented on #16
Hi @hieplpvip , what do you meen with "Save ALS status across boot"?

[2019-09-23 13:19] tvieira20 opened #36 "Asus VivoBook S530Fn - Fn Keys are different"
Hi. I managed to fix the keyboard backlight with AsusSMC and your patch - which I must say thank you for making it possible.
I have fully functioning Keyboard Light + 16 Light intensity after patching "[kbl] whiskeylake".
System is Asus VivoBook S15 S530Fn > i7-8565U, 8GB RAM, GeForce MX150 (disabled).

Although, there are some issues with the Fn Keys (I used Karabiner to remap the keys temporaril

[2019-09-23 18:05] hieplpvip commented on #36
Well, if you just folllowed the instruction and it works, no need to update the DSDT

[2019-09-23 18:08] hieplpvip commented on #16
@anonymous-writer You can press Fn+A to toggle ALS.

[2019-09-23 18:20] tvieira20 commented on #36
Nevermind, I didn't understand what I needed to change in the code in order to re-organize the keys.
Thanks again for all your work!

[2019-09-23 18:20] #36 closed

[2019-09-25 02:49] lunjielee opened #37 "Asus TUF504GE different keyboard layout"
My keyboard layout is:
F1/F2/F3  Mute/Decrease/Increase volume
F4    Turn off microphone
F5    Fan speed
F6    Turn off screen
F7/F8    Decrease/Increase screen backlight
F9    Switch monitor
F10    Enable/Disable trackpad
F11  Sleep
F12 Airplane mode
Fn+Down/Up   Decrease/Increase keyboard backlight

Extract DSDT from Clover
[DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/3650327/DSDT.zip)

[2019-10-02 16:54] iNDi commented on #35
from the OpenCore docs
  //
  // Some kexts, notably VoodooPS2 forks, link against IOHIDSystem.kext, which is a plist-only
  // dummy, macOS does not add to the prelinkedkernel. This cannot succeed as /S/L/E directory
  // is not accessible (and can be encrypted). Normally kext's Info.plist is to be fixed, but
  // we also put a hack here to let some common kexts work.
  //
so change
com.apple.iok

[2019-10-06 04:54] hieplpvip commented on #35
Fixed. Thanks.

[2019-10-06 04:54] #35 closed

[2019-10-06 16:13] dayfly opened #38 "When will Asus smc Kext come out?"
When will Asus smc Kext come out?

[2019-10-10 13:04] #32 closed

[2019-10-10 18:16] hieplpvip commented on #38
Please discuss it [here](https://github.com/hieplpvip/AsusSMC/issues/20)

[2019-10-10 18:16] #38 closed

[2019-10-10 18:22] hieplpvip commented on #20
Hi everyone.

I've just upgraded to Catalina and had some look at the problem. It seems that macOS Catalina change how it detects if keyboard backlight is supported. On Mojave and below, simulating 2 SMC keys (`LKSB` and `LKSS`) is enough. However, that no longer works. In Keyboard section in System Preferences, we no longer see anything related to keyboard backlight (which, obviously, show that k

[2019-10-11 06:26] anonymous-writer commented on #20
Thank you for your feedback. I will also try to find out how the keyboard backlight are addressed at Catalina. Did I find something I write you.

[2019-10-12 20:44] anonymous-writer commented on #20
Where in the source code you can customize the output keys? To write out temporarily a different short command for use with LabTick.
<img width="437" alt="Bildschirmfoto 2019-10-12 um 22 37 56" src="https://user-images.githubusercontent.com/35840715/66707511-e0b31280-ed41-11e9-9ff7-dcfdc62a6f5b.png">

[2019-10-12 20:55] anonymous-writer commented on #20
This is also interesting and changes the keyboard brightness. Works perfect under Catalina.

https://github.com/pirate/mac-keyboard-brightness

[2019-10-13 00:22] hieplpvip commented on #20
Let me explain how each program works.

AsusSMC works by simulating SMC keys (namely LKSB, LKSS, etc. you can find them in the source code).. When macOS (Mojave and below) detects these keys, it will think that keyboard backlight is supported and show the settings for keyboard backlight. AsusSMC also simulates an Apple keyboard, so everytime a user presses Fn keys, it will send a fake event to mac

[2019-10-13 08:42] gulios commented on #20
IMO without auto-off is much better than LabTick ;) so if you can ;)

[2019-10-13 11:26] hieplpvip commented on #20
I'll implement it and release a new version next week.

[2019-10-13 19:54] hieplpvip commented on #20
[AsusSMC-1.2.0-RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/3722272/AsusSMC-1.2.0-RELEASE.zip)

I have added workaround for Catalina. Please test it. Don't forget to install AsusSMCDaemon. Without it you won't see the badge.

Technical explanation: Since I can't get macOS to show the badge, I have to show it manually via AsusSMCDaemon. This has two drawbacks: you have to install it and

[2019-10-13 20:17] gulios commented on #20
it works ;))

[2019-10-13 20:35] anonymous-writer commented on #20
Me too. You are the best.

[2019-10-13 21:08] MohammadtaghiFarkhondekar commented on #20
Is not working for me ! And after using kext my keyboard doesn't working like old v in 10.15

[2019-10-14 04:52] hieplpvip commented on #20
@MohammadtaghiFarkhondekar Are you still using Mojave? If yes, please test it on Mojave. It doesn't support HID on Catalina

[2019-10-14 06:44] SkreamDark commented on #20
Hello, thank you for new kext) now my backlight keyboard working, but not like on Mojave. In Mojave keyboardbacklight can be turn off automatically after 10 second or more. How Can i return this option?
In Mojave
![image](https://user-images.githubusercontent.com/38081153/66733074-cda25e80-ee77-11e9-9861-91accfeb4d9e.png)
In Catalina
![image](https://user-images.githubusercontent.com/38081153/6673

[2019-10-14 07:02] gulios commented on #20
You didn't read this issue, right ? ;)

[2019-10-14 07:25] SkreamDark commented on #20
Just very quick), but i understand, that it may be just incompatible with Catalina right now
When i saw new kext, i was so glad)
I hope its will be fixed very soon

[2019-10-14 07:31] anonymous-writer commented on #20
If you would read what is written above then all questions would be answered.

In any case, I thank the developer that he work on this kext. He finally gets nothing for this work except somtime a donation.

[2019-10-14 19:14] MohammadtaghiFarkhondekar commented on #20
I test again in 10.14.6 all off fn keys work good but keyboard back light fn key aren't working ! !!!

[2019-10-15 01:05] hieplpvip commented on #20
@MohammadtaghiFarkhondekar Test this one on Mojave
[1.2.0.RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/3726961/1.2.0.RELEASE.zip)

[2019-10-15 13:46] MohammadtaghiFarkhondekar commented on #20
No , keyboard back light FN keys aren't working again.

[2019-10-16 12:06] hieplpvip commented on #20
Could someone still having Mojave installed please send me a copy of CoreBrightness?
The location of it is `/System/Library/PrivateFrameworks/CoreBrightness.framework/Versions/A/CoreBrightness`

[2019-10-16 19:27] SkreamDark commented on #20
Here, i hope its will help you and thanks for you work)
[CoreBrightness.framework.zip](https://github.com/hieplpvip/AsusSMC/files/3736046/CoreBrightness.framework.zip)

[2019-10-17 11:56] hieplpvip commented on #20
Does anyone have a real MacbookPro running Catalina? I need IOReg of it.

Apple really sucks. They rewrote CoreBrightness completely :(

[2019-10-17 12:44] ghost commented on #20
Yep...2014 MBP

[ioreg.zip](https://github.com/hieplpvip/AsusSMC/files/3739294/ioreg.zip)

[2019-10-17 19:54] Ubsefor commented on #16
You can add `sudo mount -uw /` and `sudo mount -ur /` to mount system volume in rw and back in readonly, writing to /usr/bin generally requires root password anyway

[2019-10-17 23:45] hieplpvip commented on #16
I do not prefer it. Installing to /usr/local/bin would be enough

[2019-10-18 11:29] MohammadtaghiFarkhondekar commented on #20
[CoreBrightness.framework.zip](https://github.com/hieplpvip/AsusSMC/files/3743649/CoreBrightness.framework.zip)

I'm using the new Releases in 10.14.6 and 10.15 but  ,,,  asus aura back light is not working in macos 10.14.6 and in 10.15 my keyboard is not working ( any key is not working !!!)

[2019-10-18 12:42] hieplpvip commented on #20
@andrewwyatt Can you dump ioreg again, this time using [IORegistryExplorer](https://raw.githubusercontent.com/black-dragon74/OSX-Debug/master/IORegistryExplorer.zip)?

[2019-10-18 13:23] ghost commented on #20
I sent it direct, don't want to post it since I can't scrub my serials.

[2019-10-18 17:47] SkreamDark commented on #20
i have MacBook Air, will his ioreg be useful??

[2019-10-18 21:14] LeeBinder commented on #31
So what's the best way how to achieve this? Did anyone succeed?

[2019-10-19 00:17] ertanyanardag commented on #20
Thank you, it's great work...

[2019-10-20 11:24] ulf16 opened #44 "Add support for Ivy Bridge keyboard backlight"
I'd love to see this wonderful kext having kbl support for my old but trusty Ivy Bridge based N56VM.

[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/3747786/DSDT.aml.zip)

[2019-10-20 18:46] ulf16 commented on #44
Never mind, the solution for me is to use the Haswell patches and changing
^^PCI0.LPCB.EC0.WRAM (0x04B1, Arg0)\n
to
^^PCI0.LPCB.EC0.WRAM (0x044B, Arg0)\n

Works great in Mojave.

[2019-10-20 18:46] #44 closed

[2019-10-21 05:14] hieplpvip commented on #44
Thanks. New patch added.

[2019-10-29 14:12] drg619 opened #45 "Asus GL503GE Keyboard FN Keys Not working completely"
Sir
with asussmc.kext only FN + F1(Mute) , F2(Previous) , F3(Play/Pause) , F4(Next) are working rest of the keys like disable touchpad, screen off.etc.....
also keyboard backlight controls  using FN+Up/Down Arrow keys not working.

i tried applying your patches to dsdt but im geting compile error when i patch my cpu.

plz can u help me with the issue?

[2019-10-30 13:41] drg619 commented on #45
[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/3789150/DSDT.aml.zip)
here is my dsdt file plz help

[2019-10-30 17:38] cowpod opened #46 "Keyboard backlight remains off after sleep"
this is not a big issue, but if i set the brightness to max, close the lid, and then wake it, the backlight remains off until the brightness is changed again.
ASUS S410U/X411U

[2019-11-01 02:56] nganhquoc95 opened #47 "Issue with pause/break, prt sc/sysrq"
I have an issue with my laptop ASUS:
**Motherboard**: P5440FA
**CPU**: I5-8265U (Whiskey Lake)

When I press the pause/break key, the brightness level up likes I press the Fn + F6 key. When I press the `prt sc/sysrq` key then that function is toggle enable/disable my trackpad likes I press Fn + F9 key.

This is my origin [DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/3796516/DSDT.zip)

[2019-11-02 13:09] nganhquoc95 opened #48 "Keyboard backlight does not work on Catalina"
Hi @hieplpvip, The keyboard backlight is not working after upgrade OS to Catalina version. It works well on Mojave but not work properly on Catalina. Thanks if you have free time to fix it.

[2019-11-02 20:09] black-dragon74 commented on #45
Your device uses a HID based keyboard. The patches are for WMI based.

[2019-11-02 21:18] black-dragon74 opened #49 "HID Keyboard doesn't work on macOS Catalina"
Hey there,

I have an ASUS ROG GL-503GE laptop. The keyboard is HID based on USB bus.

When I use AsusSMC the keyboard does not work at all. I have attached debug log and also the IOREG.

Please take a look.

Regards
[Debug.zip](https://github.com/hieplpvip/AsusSMC/files/3800945/Debug.zip)

[2019-11-03 15:37] drg619 commented on #45
How do i fix it?

[2019-11-04 12:45] #48 closed

[2019-11-06 05:17] Jie2GG opened #50 "The keyboard does not have settings for keyboard lights in macOS 10.15.1"
In Mojave, you can see settings for keyboard lights in keyboard preferences, but these options disappear after upgrading to Catalina.

[2019-11-23 18:40] Hyunakyu opened #51 "Backlight Keyboard CoffeeLake Asus Notebook (Asus TUF-FX505GE)"
Please Help me Decrease/Increase keyboard backlight, i patch coffeelake i got error
UP Incress  _Q6B
DOWN Incresss  _Q6C
Fn+Down/Up Decrease/Increase keyboard backlight
Here Ioreg + DSDT

[DSDT.aml.zip](https://github.com/hieplpvip/AsusSMC/files/3882810/DSDT.aml.zip)

[Fraquel’s MacBook Pro.zip](https://github.com/hieplpvip/AsusSMC/files/3882809/Fraquel.s.MacBook.Pro.zip)

[2019-11-29 15:18] for40255 commented on #49
Me too

[2019-11-30 11:59] Nevuly opened #52 "Asus S510UA-BQ423 Catalina Keyboard Backlight is not working."
Hi, I tried to update my laptop to use catalina, But keyboard backlight is not working.

I used mojave a weeks ago, It is work. And I installed catalina with clean install, It is not working.

I loaded all of kexts from Clover bootloader (Not L/E), (Because of bluetooth and some fn keys)

Here is my DSDT, please check about that, and give me a solutions. (I get troubles to fix DSDT... :( )

Thanks

[2019-12-06 19:38] serdeliuk opened #53 "IOUSBHostFamily version issue on Mojave"
On my Asus ROG strix G531GT I installed Mojave 10.14.6 and patched the DSDT for F7/F8 LCD backlight keys and arrow keys, the keyboard backlight and all keys works as expected with all kexts in clover/EFI

However, i cloned my old macbook's hdd which has mojave 10.14.4 on a secondary partition and when i boot on 10.14.4 AsusSMC didn't not worked, moved extensions to /L/E and nothing happen, after a

[2019-12-11 06:17] bliss95 commented on #52
Everything has started working again after updating the latest Catalina version.

didn't work before but after 10.15.2 update
All FN keys, F1 through F6
Keyboard backlight
Fn+A

My laptop: Asus UX430UNR, 16GB Ram, Corsair MP510 960GB M2 NVME

[2019-12-15 04:10] williambj1 commented on #16
@hieplpvip

Maybe this is useful https://github.com/acidanthera/VoodooInput/commit/3f6e60573b1317c6a3a18136cfbea9ee8eee6361

[2019-12-19 10:45] xbanana29 commented on #49
Same here

[2019-12-21 00:38] LeeBinder commented on #46
in Catalina, Mojave, or in both? I only experience this in Catalina (with latest v.1.2.0)

[2019-12-22 04:26] hieplpvip commented on #53
Hi, I have changed the required version from `1.0.0` to `1.0.1` since some other kexts use that version too. Can you test this?

[AsusSMC-1.2.0-DEBUG.zip](https://github.com/hieplpvip/AsusSMC/files/3992129/AsusSMC-1.2.0-DEBUG.zip)

[2019-12-22 04:30] hieplpvip commented on #49
Hi,

This kext works on some ROG laptop, so I don't really know why it doesn't work for you guy. Currently I don't have much time for this kext, so I can't promise when I can fix this.

I'm also focusing more on bring full support for Catalina (Apple rewrote their kexts, so the old method doesn't work anymore).

If anyone figure out how to fix this, I'll be very happy to merge that fix.

[2019-12-22 12:09] serdeliuk commented on #53
Hi, thanks, unfortunately I have upgraded that macOS to 10.14.6 on which the RELEASE version works, the attached DEBUG version too, i have tested all 3 .configs and all works as expected.

There was something wrong with **macOS 10.14.4** i will create a new partition on my hdd and put the old 10.14.4 to test again and report the result here.

[2019-12-22 14:51] e-senturk commented on #49
in my reg and black-dragons reg as well it seems both asussmc and keyboard loads correctly I ve also tried debug version and debug boot arg I still didnt get any error. i am guessing somehow asussmc overrides keyboard layout because in mojave normally without asussmc my " character works correct but when I install asus smc it's become < character. Is there any way to disable that override. That mi

[2019-12-22 17:25] hieplpvip commented on #49
@valinor61 Try deleting methods `handleInterruptReport` and `dispatchKeyboardEvent` in `AsusHIDDriver` (both `cpp` and `hpp`).

If keyboard still doesn't work, try disabling `AsusHIDDriver` by leaving only `return true;` in method `start`.

[2019-12-23 03:13] #52 closed

[2019-12-23 03:18] Nevuly opened #54 "Fix to Install AsusSMCDaemon path in Catalina"
Hi, sir.

I installed catalina in my vivobook, and I found issue of install AsusSMCDaemon.

in install_daemon.sh, script of cp AsusSMCDaemon, It's not copy inside of /usr/local/bin

I checked my /usr/local/bin, AsusSMCDaemon renamed and copied /usr/local/bin file. (Not directory.)

So, I edited install script to fix this problem, and finally it is work.

Here is my edit install_daemon.sh script.

[2019-12-23 06:07] hieplpvip commented on #54
Fixed in latest commit. Thanks!

[2019-12-23 06:07] #54 closed

[2019-12-28 08:25] Denisuu opened #55 "Version 1.2 not working on Mojave 10.14.6"
Hi!

I have a ASUS N580VD the keyboard backlights were working perfectly on version 1.1 but not after updating to 1.2. I know the changes are probably for Catalina so I'l stay on 1.1 for now and move to 1.2 when I upgrade to Catalina.

I just wanted to let you know.

Thanks for your hard work!

[2020-01-01 02:10] theEvilbyteS opened #56 "Help macOS 10.15 KabyLake Asus Rog GL703VD"
Hello, I need help on my notebook i5-7300HQ, I'll try to apply KabyLake patch to DSDT but PCI0.LPCB.EC0.WRAM and PCI0.LPCB.EC0.ST9E doesn't exit. In the search of similar variables i found a method called GLKB that store KBLV but I don't know what I need to replace in the patch.
This is my Keyboard layout:
F1: Mute
F2/F3/F4: Previous/Play-Pause/Next media
F5: Fan Booster
F6: Turn off screen
F7/F8:

[2020-01-05 22:46] LeeBinder commented on #46
@cowpod Henry? see my inquiry to you above.

[2020-01-05 23:32] cowpod commented on #46
Only in Catalina. Worked fine in Mojave for me too.

[2020-01-13 12:51] rbesora opened #57 "AsusSMC stopped working after upgrading VirtualSMC from 1.0.9 to 1.1.0"
Hi,

This morning I updated VirtualSMC from 1.0.9 to 1.1.0 and the Fn keys and ALS stopped working. After restoring the 1.0.9 version they started to work again. Willing to help with this, if there is something I can test please tell me.

Regards!

[2020-01-13 14:36] rbesora commented on #57
Hi again,

I have build with Xcode AsusSMC from source using last VirtualSMC and Lilu debug versions. All is working again.

Regards

[2020-01-13 14:36] #57 closed

[2020-01-13 16:03] SkreamDark opened #58 "Work and compatible with virtualSMC 1.1.0"
Today i updated VirtualSMC to 1.1.0 version and after that AsusSMC stoped working, keyboard and backlight working, but fn keys don't working, only if you install again Virtual SMC 1.0.9. Also its weird that in hackintool AsusSMC don't show on tab - installed .

[2020-01-13 17:45] rbesora commented on #58
Hi,

It just happened to me, see last closed issue. You should recompile AsusSMC using last version of Lilu and VirtualSMC and it will work. Otherwise you should wait for a new release.

Here you have the binaries I built, just in case you cannot wait.
[AsusSMC-1.2.0-RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/4054982/AsusSMC-1.2.0-RELEASE.zip)
[AsusSMC-1.2.0-DEBUG.zip](https://github.

[2020-01-13 18:20] SkreamDark commented on #58
Hello, ok, thanks), but then I'll wait, there is no need to do it right now.

[2020-01-13 18:37] feartech commented on #58
hey! thanks for that! worked like a charm, brightness keys now working! many thanks! :)

[2020-01-15 11:57] trankimlonghai opened #59 "Need help with Rog Strix G531GU (i7 9750H, 1660ti) about Fn keys not working when use AsusSMC"
Hi, I need help with enabling the Fn keys function to work with this model rog strix G531. Just sound increase and decrease (in default the keyboard already has) is can be used automatically without being patched (maybe also need patch ALC294 to work, maybe), and also mute key (Fn+F1) works! The rest not working at all.

Here's my keyboard layout (screenshot attached) and... I know this hard becau

[2020-01-15 19:08] e-senturk commented on #49
sorry for long delay I had exams. I ve analyzed AsusHIDDriver.cpp  i find the origin of the error but I have no idea how to fix it.
super::start(provider) function in AsusHIDDriver.cpp seems the issue. If that function starts application fails. Its not even printing "Error loading HID driver" warning also not returning false. It seems there is a difference in catalina in that code somehow.
Kext si

[2020-01-19 16:19] #59 closed

[2020-01-20 18:09] LeeBinder commented on #58
thanks @rbesora , very help- and useful!

I'm wondering, is there anything you might be able to fix in the code for these issues?

1. [Keyboard backlight remains off after sleep · Issue #46 · hieplpvip/AsusSMC](https://github.com/hieplpvip/AsusSMC/issues/46)

2. AsusSMC v.1.2.0 does not work on any of the Asus Vivobook S15 series notebooks in Mojave, only in Catalina, so I and others have been sti

[2020-01-20 22:17] rbesora commented on #58
Hi,

Sorry, I cannot help you with 1). I have just compiled version AsusSMC v1.1.1 with  VirtualSMC v.1.1.0 and Lilu v1.4.1. I hope that works for you.

Best Regards

[1.1.1.DEBUG.zip](https://github.com/hieplpvip/AsusSMC/files/4088145/1.1.1.DEBUG.zip)
[1.1.1.RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/4088146/1.1.1.RELEASE.zip)

[2020-01-21 00:52] LeeBinder commented on #58
great, thank you @rbesora , but unfortunately no functionality in Mojave with your AsusSMC v1.1.1 (only tested with RELEASE not with DEBUG) with VirtualSMC/ SMCProcessor v.1.1.0 and Lilu v1.4.1 (above all no keyboard backlight).

As soon as I reapply stock hieplvip AsusSMC v1.1.1 + VirtualSMC/ SMCProcessor v.1.0.9, all is back to normal (so Lilu v1.4.1 is compatible with VirtualSMC/ SMCProcessor v

[2020-01-26 11:31] makito89 commented on #58
Hi,
I have the same issue reported here but when I attempt to use the AsusSMC @rbesora provided (1.20 and 1.1.1) I get kernel panic.
The same thing happens also with the kext I compile from current source code.
I have an Asus UX330UA with Catalina 10.15.2.
Is there a way I can debug this kernel panic ?

[2020-01-27 07:00] cowpod commented on #55
Recompile with latest Lilu and VirtualSMC (and install the latest versions of those too)

[2020-01-27 20:07] Denisuu commented on #55
I upgraded to Catalina and took the compiled version from here:
https://github.com/hieplpvip/AsusSMC/issues/58

Everything works perfectly now!

[2020-01-27 20:07] #55 closed

[2020-01-27 21:16] cowpod commented on #56
That asus rog model uses a HID keyboard, not PS2/wmi/whatever, so standard or similar patches wont work; in my experience the ACPIDebug EC queries don't work.
The Asus /HID component in this should work but doesn't- it completely breaks my keyboard. This might work, haven't tried: https://github.com/hieplpvip/AsusSMC/issues/49#issuecomment-568284555

[2020-01-28 01:58] cowpod commented on #49
I don't know how to undo emoji reactions. :(

Keyboard doesn't work with AsusSMC unless return true is added, where as @valinor61 wrote it doesn't do anything.
ASUS ROG GL504GW (Coffeelake)
[log.txt](https://github.com/hieplpvip/AsusSMC/files/4120288/log.txt)

[2020-01-29 15:43] Ubsefor opened #60 "Kext needs to be recompiled"
So as the title says, the kext needs to be recompiled using latest Lilu & VirtualSMC
I tried to compile it myself, but XCODE gives me an error:
`'VirtualSMCSDK/kern_vsmcapi.hpp' file not found`
And I can’t fix this no matter where I put the desired header…

And the binary that was available in this reply https://github.com/hieplpvip/AsusSMC/issues/58#issuecomment-573784744
doesn’t work for me (can

[2020-01-29 17:18] Ubsefor commented on #60
UPD: managed to compile kext and daemon eventually, but it still doesn’t work for me. I’m using latest Lilu (1.4.1), VirtualSMC (1.1.0) & WhateverGreen (1.3.6) on macOS 10.15.3

[2020-01-30 13:00] andreszerocross commented on #49
Does AsusSMC.kext r1.2.1 fix this HIDDevice?? Most ASUS ROG laptop with HID device cant use internal keyboard when using AsusSMC.kext

[2020-01-30 14:57] Ubsefor commented on #60
Alright, just tested 1.2.1 release version with newest VirtualSMC and Lilu, all works like a charm, thank you very much, hieplpvip!

[2020-01-30 14:57] #60 closed

[2020-01-30 19:45] cowpod commented on #49
still broken, catalina 10.15.2 1.2.1
edit: same on 10.15.3

[2020-02-01 01:10] LeeBinder commented on #58
for me the latest 1.2.1 solves this issue - verified working in 10.13.6, 10.14.6 and 10.15.3

[2020-02-01 04:30] SkreamDark commented on #58
confirmed, working with lilu 1.4.1 and VirtualSMC 1.1.0

[2020-02-01 17:48] makito89 opened #61 "Kernel Panic on Catalina"
Hi,
I have an Asus UX330UA i7 6500U that was fully working with Mojave, including keyboard light, backlight and all Fn keys using AsusSMC and updated to Catalina. After update I had to rename EC0 to EC to be able to enter the OS and updated all DSDT patches to match against EC not EC0.
Now I have a working laptop with all components except the Fn keys.
Each time I try to load the AsusSMC kext I ge

[2020-02-03 07:20] AR-CADE commented on #46
Can someone test this version, I added a workaround for the backlight after sleep, by implementing PM events as described [here](https://developer.apple.com/library/archive/documentation/DeviceDrivers/Conceptual/IOKitFundamentals/PowerMgmt/PowerMgmt.html)
[AsusSMC-1.2.1-RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/4146648/AsusSMC-1.2.1-RELEASE.zip)

[2020-02-03 09:42] LeeBinder commented on #46
Thank you @AR-CADE , working now as supposed in Catalina. Problem is that now backlight does not work at anymore in Mojave, which was fine before with hieplpvip's original (not tested in High Sierra yet but most likely it's the same there).

That can be for two possible reasons:
1. you only have Catalina SDK installed in Xcode so the kext won't generally work in <10.15. If so, can you please also

[2020-02-03 10:19] AR-CADE commented on #46
Hi @LeeBinder ,

1) you are right , i only have 10.15 SDK installed, that's surely why the provided binaries don't work on  pre-catalina

can you checkout and build my fork ([link here](https://github.com/AR-CADE/AsusSMC)) with the desired SDK to see if it work

2) the pseudo-code that you advise is already implemented, so this fix should not affect older Mac OS version :-)

I have also requested

[2020-02-03 10:25] LeeBinder commented on #46
@AR-CADE great. I totally can't provide any time right now to spend in Xcode, so either we'll just wait for hieplpvip to build the kext incl. your pull request, or you simply add Mojave and High Sierra SDK for compatibility, as has hieplpvip. Be aware that many h'toshers still use Mojave.

[2020-02-04 18:50] bliss95 commented on #46
@AR-CADE Your fix works properly for Asus UX430UNR on Catalina 10.15.3.
Thank you.

[2020-02-06 04:03] hieplpvip commented on #50
Hi. On Catalina, native control of keyboard backlight is not available due to Apple rewrote their drivers for keyboard backlight. I haven't found a way to fix it, so I have to workaround by controlling backlight manually, which means some features available on Mojave and below (e.g. auto turn off, smooth transitions, settings,...) are not available on Catalina.

[2020-02-06 04:03] #50 closed

[2020-02-06 04:14] #46 closed

[2020-02-06 04:34] #58 closed

[2020-02-06 06:34] Jie2GG opened #63 "The latest version of AsusSMC does not work under macOS Catalina 10.15.3"
When using version 1.2.0, my computer's screen backlight and keyboard backlight shortcuts can be used normally. I only upgraded **AsusSMC.kext**. After the upgrade, I could not use the shortcuts to adjust the screen backlight and keyboard backlight of my computer.

Here's the SSDT I used [SSDT-AsusSMC.aml](https://raw.githubusercontent.com/Jie2GG/Hackintosh-ASUS-S5300FN/master/OC/ACPI/SSDT-AsusSMC

[2020-02-06 08:58] Jie2GG commented on #63
A final check revealed that **VirtualSMC.kext** was not in the latest version.

[2020-02-06 08:59] #63 closed

[2020-02-06 12:53] andreszerocross commented on #49
Yes, i just tested it :(

[2020-02-06 21:45] LeeBinder commented on #46
confirmed solved with latest 1.2.2 - thank you hieplpvip and AR-CADE!

[2020-02-08 11:35] DilVika commented on #20
Have this problem with Keyboard backlight was fixed by the newest version, anyone? I have updated to newest ver but Keyboard backlight just not work at all.  My laptop is Gl552vx and everything worked fine on Mojave.

[2020-02-08 12:56] Ubsefor commented on #20
Have you updated Lilu and VirtualSMC?
For me everything works perfectly

[2020-02-12 04:23] TiagoDamascena opened #64 "Switch Monitor / Mirror FN key not working"
Hello, i have an ASUS VivoBook 15 X512FA with an i5 8265U (Whiskey Lake), volume, brightness and trackpad keys are working, my problem is with the FN + F8 for switch monitor, it don't triggers any EC method on my ACPI (tried using ACPIDebug from Rehabman), using the MacOS keyboard viewer i can see that when i press FN + F8 the keyboard interprets it like Command + P (shortcut for Windows), so mayb

[2020-02-14 15:18] SkreamDark opened #65 "How to change 16 level to 4 level keyboard backlight?"
Hi, i use Asus SMC + VirtualSMC, i am patced my dsdt but still keyboard backlight level is 16, how can be this fixed?
Thank you

[2020-02-18 23:31] HackerWithoutACause opened #66 "Keyboard backlighting not working on Zenbook Pro UX550GE."
Title says most of it. I tried putting the kext in C/k/o and doing the Coffeelake patch + FakeALS, and the keyboard backlight won't turn on. It is possible that is has something to do with my keyboard layout which is the kind with only one brightness key for both up and down.

Patched DSDT: https://www.dropbox.com/s/8hgwx64bk0crhi3/Patched%20DSDT.zip?dl=0
Original: https://www.dropbox.com/s/wvqfpj

[2020-02-21 20:25] HackerWithoutACause commented on #66
I was using the version of VirtualSMC with the .efi file, upgrading to 1.1.1 fixied.

[2020-02-21 20:25] #66 closed

[2020-03-05 22:11] valinor61 commented on #49
I find something odd that might help fixing the issue .With karabiner app I can use AsusSMC and my keyboard but all fn keys are not working in that way only print key is working. Normally volume controller keys were working.

[2020-03-08 14:23] MohammadtaghiFarkhondekar commented on #20
up..... need fixing .

[2020-03-11 20:33] MohammadtaghiFarkhondekar commented on #16
I hope fix problem in 10.15...

[2020-03-12 22:00] valinor61 commented on #49
@hieplpvip Sorry to bother you but i think i find something.
Left picture is asussmc kext installed.
Right one is not installed.

- In right part AsusSmc calls -> VirtualHidKeyboard -> AppleUserHidEventDriver
NKey devices -> AppleUsbHostHidDevice -> AsusHidDriver
- But in left Asus NKey devices -> AppleUsbHostHidDevice -> AppleUserHidEventDriver
It explains all wrong behavior on hid devices.
In or

[2020-03-21 20:41] e-senturk commented on #20
I am getting some progress on this issue finally i manage to work that kext in catalina but its not a solution for now. Please dont try for your daily usage it may break your system.
- I compared ioregs in catalina and mojave the key difference is a driver extension called AppleUserHIDDrivers.dext in catalina.
- In mojave there is no such driver so we can use asussmc with IOHidEventDriver but in c

[2020-03-22 06:11] williambj1 commented on #20
@valinor61

Nice research!
I think we need to beat this dext from loading under the keyboard with a higher `IOProbeScore` in AsusSMC.

![image](https://user-images.githubusercontent.com/45396585/77243654-864ea400-6c47-11ea-83ae-060980cf14c5.png)

![image](https://user-images.githubusercontent.com/45396585/77243606-fb6da980-6c46-11ea-827d-d345940f6e9e.png)

[2020-03-22 06:21] williambj1 commented on #49
https://github.com/hieplpvip/AsusSMC/issues/20#issuecomment-602153129

This might explain why. I'm totally new in IOKit, just did some research recently, sorry if I posted garbage.

[2020-03-22 07:09] williambj1 commented on #49
Hmmm, this is interesting.
After adding `IOProbeScore` under

https://github.com/hieplpvip/AsusSMC/blob/3991e322a8e12752c311df73ddc4cdaaeab7e1b7/Info.plist#L96-L97

[code]

it gives me a kernel panic, still good news since it's at least loaded.

[code]

[2020-03-22 09:45] e-senturk commented on #20
@williambj1 thanks,I tried IOProbeScore override on AsusSmc it did no change I didn't get any KP either. Then I write a custom info plist to override AppleUserHIDDriver actualy it did what I said but i think AsusSmc still connecting with AppleUserHIDDrivers.dext still no keyboard input. I attached test cases and my IOProbe Override info.plist kext.
[AsusSmcCatalina.kext.zip](https://github.com/hie

[2020-03-22 19:15] hieplpvip commented on #49
Hi everyone,

I don't have much time these days (need to prepare for my national contest), so I don't have much progress on AsusSMC. Though I think I can still help others to continue developing this kext.

After reading @williambj1 and @valinor61 and doing a quick search, I found something maybe useful.
Apple has published source code for IOHIDFamily on Catalina here: https://opensource.apple.com

[2020-03-22 20:24] hieplpvip commented on #49
@williambj1
`IOProbeScore` should be integer. Anyway can you test this?
[AsusSMC-1.2.2-DEBUG.zip](https://github.com/hieplpvip/AsusSMC/files/4366280/AsusSMC-1.2.2-DEBUG.zip)

I changed IOProbeScore to 5000 (and integer, of course) and removed most of `handleInterruptReport` (since it causes kernel panic).

[code]

[2020-03-22 20:44] e-senturk commented on #49
@hieplpvip I ve tried this in 2/3 of boots kext is not loading (Not showing any sign in IOReg) other 1/3 I am getting a panic.

[2020-03-23 04:58] hieplpvip commented on #49
@valinor61 Please send me KP log

[2020-03-23 05:23] e-senturk commented on #49
@hieplpvip it seems it wasn't a panic system is just hanging because of this error. Should I use a different version of virtualsmc?

2020-03-23 08:20:33.289762+0300  localhost kernel[0]: kxld[com.hieplpvip.AsusSMC]: The following symbols are unresolved for this kext:
2020-03-23 08:20:33.298480+0300  localhost kernel[0]: kxld[com.hieplpvip.AsusSMC]: 	__ZN13VirtualSMCAPI6addKeyEjR7evectorI18VirtualS

[2020-03-23 06:21] hieplpvip commented on #49
Are you using latest VirtualSMC?

[2020-03-23 06:47] e-senturk commented on #49
yes I am using the latest release version.

[2020-03-23 12:44] williambj1 commented on #49
@hieplpvip

The kext you provided above didn't load on my config, I built myself one based on the git patch you provided. The result is the same, the keyboard is not responding, Apple's new driverkit driver still loads.

[2020-03-23 13:26] hieplpvip commented on #49
@valinor61 @williambj1
I'm sorry, it's my fault. I built AsusSMC with old version of VirtualSMC.
I don't know that to do now. I'm not familiar with DriverKit, and its documentation is very limited.

[2020-03-23 13:37] williambj1 commented on #49
@hieplpvip

I successfully got rid of Apple's driverkit drivers using three boot-args found in AppleUserHIDDriver's source code.

However, the keyboard is still not responding although IOReg appears exactly the same compared with Mojave right now. Wierd. It might be the old issue.

boot-args:
[code]

[2020-03-23 14:02] hieplpvip commented on #49
@williambj1 Keep those boot-args but remove AsusSMC and tell me if keyboard works.

**EDIT:** Nevermind, I tested it myself. I disabled AppleUserHIDEventDriver and IOHIDEventDriver turned up in IOReg. Keyboard still works. Something is wrong with AsusHIDDriver. I'm trying to figure out.

[2020-03-23 14:06] williambj1 commented on #49
@hieplpvip

After deleting AsusSMC while keeping the boot-args, the keyboard still works.
I reconfirmed the version I'm using works by booting into Mojave.

[2020-03-23 15:48] hieplpvip commented on #49
I'm having a very weird problem. As I said above, when `AppleUserHIDEventDriver` is disabled, `IOHIDEventDriver` replaces it and works normally. But when I subclass `IOHIDEventDriver` in `AsusHIDDriver` it doesn't work at all.

All of the unnecessary code are removed.
[code]
[code]

[2020-03-28 09:58] llyonard opened #67 "Help with skylake n552vx"
Hi, i updated my bios and now i cant figured out how to make the keyboard backlight work, i had a really old patch but i cant find it anymore. Tried to follow the wiki, faked als and after i use patch alss i cant compile the dsl anymore with this 2 errors :"object not found or not accessible from scope (PCI0.LPCB.EC0.RALS" and object does not exist (ALS_)"
I attach my dsdt.dl
[DSDT.dsl.zip](https:

[2020-03-28 13:24] mishurov commented on #18
@TineshSuresh critical line here is ```^^PCI0.LPCB.EC0.WRAM (0x04B1, Local1)```, @hieplpvip uses an ACPI method only for setting the value for keyboard light, for everything else he uses NVRAM, so ```kbl_broadwell.txt``` should work, although my dsdt has no ```KBLD``` and ```KBLU``` methods, I only inserted ```SKBV```. Note, it has 16 brightness levels, you need to press buttons more times to noti

[2020-03-30 14:02] Aurelyano opened #68 "Skylakers need help>>>please"
Wanna turn the keyboard light on,  but I can't find the patch for Skylake. Hoping you can give me a hand, thx a lot.
And here is the dsdt.
[DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/4403289/DSDT.zip)

[2020-04-03 16:38] soffyo opened #69 "Auto Turn-off for inactivity"
I don't know if this feature works on other systems. On my Asus UX331UN backlight works but the controls for keyboard backlight aren't present in system menu so I am not able to auto turn it off for inactivity. This would be a very useful feature to improve LEDs life and usability (i.e. you are watching a fullscreen video in a very dark room, the keyboard backlight disturbes your eyes from focusin

[2020-04-16 17:01] tunglamvghy opened #70 "Stop working after update to MacOS 10.15.4"
Bác xem hộ em với, máy e là ASUS Vivobook S530UN. Sau khi cập nhật thì các phím Fn đều không hoạt động nữa.
Kiểm tra thì AsusSMC vẫn chạy nhưng các phím Fn đều không hoạt động được mặc dù bản trước 10.15.3 Vẫn hoạt động ngon lành.
Đã thử cập nhật bản 1.2.2 nhưng vẫn không được :(
Lilu v1.4.4
VirtualSMC v1.1.2
<img width="1399" alt="Screen Shot 2020-04-16 at 23 57 26" src="https://user-images.githu

[2020-04-17 09:48] hectorox opened #71 "Adding support for asus vx5 model"
Hi Guys,

this Asus vx5 model uses as cpu:
Intel Core 2 Quad Q9000/QX9300 Processor
Can you add support to this device and needed patches into your repository?
I will attach the dsdt
[DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/4492142/DSDT.zip)

[2020-04-21 05:07] atzutz opened #72 "functional keys, whiskey lake ASUS X512FJ"
Hello, I have i5 8265u, Asus X512fj.
The problem is, my functional keys: f4/f5 (decrease/increase display backlight), f7 (control keyboard brightness, only one key for that), f8 (switch monitor, gives "π" symbol when i press fn+f8) not working.
What I tried is using Fn patches which are already available in repo with my key codes, for ex: I used patch for f5 fn key which is decrease brightness in

[2020-05-03 10:57] josemmc95 opened #73 "FN Brightness not working"
FN + F5/F6 are not working.

My laptop is a F556UJ (X556UJ).

Furthemore, airplane mode does nothing and sleep goes to sleep but it crashes the system. I installed AsusSMCDaemon and it doesn't fix anything.

I've attached my DSDT (I don't know if you need it)

Thank you in advance!
[System DSDT.zip](https://github.com/hieplpvip/AsusSMC/files/4570130/System.DSDT.zip)

[2020-05-08 11:57] tvieira20 commented on #73
Same issue (only Keyboard Brightness not working). ASUS VivoBook S530Fn

[2020-05-13 13:55] morfina opened #74 "How to enable "backlight keyboard control options" in keyboard settings? (AsusSMC)"
Hello guys!
I have a Asus Zenbook with the following characteristics:
Model: ASUS Zenbook UX310UQ
CPU: Intel Core i7-7500U CPU @ 2.70GHz
IGPU: Intel HD Graphics 620
RAM: 8GBx2 => 16GB RAM Bus 2133
Wifi: Replaced with DW1560.
Clover: Clover 5117
OS: 10.15.4 (19E287)
UEFI/LEGACY: UEFI
Storage: SSD SanDisk Ultra II 240GB

Everything works fine! :)

Enable keyboard backlighting with AsusSMC (https://g

[2020-05-13 14:03] Ubsefor commented on #74
Because Apple has rewritten AppleLMUController.kext which is renamed to AppleSMCLMU.kext on Catalina, AsusSMC can't provide additional backlight settings for keyboard anymore, see [this comment](https://github.com/hieplpvip/AsusSMC/issues/20#issuecomment-541525135) in #20  issue thread for details

[2020-05-13 14:26] jamesdevla commented on #74
ok thanks for the info

[2020-05-13 14:41] jamesdevla commented on #74
Is there any solution available? I saw that there is a kexts called AsusSmcCatalina.kext, does it work?

[2020-05-13 16:20] Ubsefor commented on #74
Currently, **no solution available**, AsusSMCCatalina is just a debug kext used by people there for development. If it solved the problem, it would be included in some release.

[2020-05-13 16:23] jamesdevla commented on #74
perfect! thanks for the info :)

[2020-05-27 05:30] Autines opened #75 "After update to 10.15, Fn+F5 and F6 brightness control not working any more."
After upgrade to 10.15, Fn+F5 and F6 brightness control not working any more.
Please take a look. Thanks.

[2020-06-05 18:58] marcinkk opened #76 "Pls help"
I attached kext acpidebug to the config file but when I press fn + arrow right / left, the console does not show information about pressing this shortcut.

[2020-06-22 08:14] 3DSBricker commented on #75
I have the same problem. Some people say it doesn't work under Catalina yet.

[2020-07-01 16:40] nikhil19rathore99 opened #77 "ALS0"
Is It possible to enable auto brightness adjustment with ALS0??

[2020-07-11 11:03] Ubsefor opened #78 "Not loading with OpenCore bootloader"
Well, the Issue name speaks for itself: the kext can’t load when using OpenCore 0.6.0

[2020-07-12 08:03] #77 closed

[2020-07-12 08:58] tunglamvghy opened #79 "Battery threshold"
I hope you can port the feature to limit the percentage of charging at 80% like My Asus app in Windows.

[2020-07-21 10:59] e-senturk commented on #49
HID Keyboard doesn't work on macOS Big Sur as well same issue

[2020-07-21 19:53] e-senturk commented on #78
@Ubsefor you need to recomplie this kext with latest lilu and virtualsmc kext from their sources. Only that way it will work

[2020-07-21 20:41] black-dragon74 commented on #49
See https://github.com/black-dragon74/ROG-HID

Make sure you read the README.

[2020-07-22 05:34] Ubsefor commented on #78
I am using correct versions of virtualsmc, wg and lilu for this kext, at least I am sure I do, will check it a bit later, as I got rid of my experimental bootable usb drive with OpenCore and decided to stick with clover.

[2020-07-25 10:37] black-dragon74 commented on #49
I am closing this issue as the problem is now fixed. A DriverKit based solution is now available. Users with USB HID based keyboard should use https://github.com/black-dragon74/ROG-HID

[2020-07-25 10:37] #49 closed

[2020-08-01 14:57] salim0786 commented on #35
Hey @hiepvip, could you please guide me where to change it. I mean I'll probably have to add some keys, right? Sorry I'm a noob at this.

[2020-08-07 15:37] Vmonheros commented on #79
No need to do that, it's default feature in last version of OSX...

[2020-08-09 15:29] blueboz opened #80 "this is Effective within minutes of booting,but not working after several second."
need help,asus laptop ,catalina

[2020-08-17 22:34] #74 closed

[2020-08-17 23:13] #20 closed

[2020-08-18 04:50] hieplpvip commented on #78
@Ubsefor Please attach your EFI folder

[2020-08-18 05:04] Ubsefor commented on #78
As a matter of fact, back then I recompiled all the kexts manually, using the latest commit of lilu, and it did work, but I got several problems with power management of my iGPU, so I reverted back to stable versions

Forgot to close this issue, sorry :(

[2020-08-18 05:04] #78 closed

[2020-08-18 07:14] Ubsefor opened #82 "AsusSMC 1.3.0 not working with latest available VSMC, WEG and Lilu"
Latest AsusSMC doesn’t work with latest commits or available for download release versions of VirtualSMC, WhateverGreen and Lilu.
This may be due to daemon not starting with launchd on my system, in which case I still need help.

UPD: Version 1.2.3 works correctly even without daemon for some reason on the same versions of stated supplementary kexts

UPD2: kextstat tells that AsusSMC.kext is not l

[2020-08-18 09:09] gulios commented on #20
Cool, works on BS too;)

[2020-08-18 09:11] Ubsefor commented on #20
Could you please post your EFI folder? I’m having troubles getting AsusSMC to work under Clover 5120 Catalina

[2020-08-18 09:24] gulios commented on #20
i don't use clover anymore

[2020-08-18 09:26] Ubsefor commented on #20
Then could you please check, whether AsusSMCDaemon is loaded?
(use sudo launchctl list | grep Asus )

[2020-08-18 10:38] hieplpvip commented on #82
Send me your EFI folder

[2020-08-18 10:50] Ubsefor commented on #82
Here you go: (cleared serials)

[EFI.zip](https://github.com/hieplpvip/AsusSMC/files/5089907/EFI.zip)

[2020-08-18 11:58] hieplpvip commented on #82
Can you run [gen-debug](https://github.com/black-dragon74/OSX-Debug)? I need kernel log to see why AsusSMC is not loaded.

[2020-08-18 13:39] Ubsefor commented on #82
Here are two gen_debug outputs: one when using AsusSMC 1.3.0 and the other one with version 1.2.2

[debug_21441_ASMC130.zip](https://github.com/hieplpvip/AsusSMC/files/5090700/debug_21441_ASMC130.zip)
[debug_21517_ASMC122.zip](https://github.com/hieplpvip/AsusSMC/files/5090702/debug_21517_ASMC122.zip)

[2020-08-18 14:14] Ubsefor commented on #82
Ok, so I did a little digging in kernel logs myself, and discovered that in header file the setPowerState was declared as purely virtual method, but not implemented. So I removed declaration from AsusSMC.hpp, recompiled it and tested. The kext now loads and works correctly, I will create pull request, if you want to use it as temporarily solution (unless you wanted to implement setPowerState metho

[2020-08-18 17:51] hieplpvip commented on #82
Thank you very much. That's function is part of the workaround for Catalina. We don't need it anymore. Somehow I forgot to remove it.

[2020-08-18 17:54] #82 closed

[2020-08-22 15:00] tunglamvghy commented on #69
In macOS 11, I see the option that turn off the keyboard backlight after 5 seconds
![image](https://user-images.githubusercontent.com/37168923/90959100-d2399980-e4c2-11ea-8368-08bc1f8e993c.png)

[2020-08-22 15:49] tunglamvghy commented on #79
I found that there is an option in battery setting but my laptop still charge until reach 100%

[2020-08-22 15:51] tunglamvghy commented on #79
I found in a linux forum
Most newer Zenbooks supports specifying a charge stop threshold (see ASUS Battery Health Charging for more information).

The battery charge stop threshold can be set by modifying the EC registers, which can be done with acpi_call. Finding the correct EC register to modify, is the tricky part.

You can check the current threshold and battery percent, with the following com

[2020-08-22 15:56] tunglamvghy commented on #79
https://patchwork.kernel.org/patch/11125631/

[2020-08-22 23:47] hieplpvip commented on #69
It used to be broken on Catalina and above. Fixed in v1.3.0

[2020-08-22 23:48] hieplpvip commented on #79
I'll add support for this.

[2020-08-24 05:27] hieplpvip commented on #79
@tunglamvghy When the threshold is set to 80% and the battery is charged to 80%, does Windows report battery level as 100% or 80%?

[2020-08-24 05:56] tunglamvghy commented on #79
Trong Windows vẫn hiển thị là 80% và ngừng sạc.
Trong MyAsus có 3 option là sạc đến 100%, 80% hoặc 60% là ngưng sạc.

In Windows still shows 80% and not charging.
In MyASUS app, there are 3 options: charge until 100%, 80% or 60%.

[2020-08-24 06:25] hieplpvip commented on #79
Em biết anh là người Việt rồi mà do trên GitHub chủ yếu dùng tiếng Anh nên em vẫn ưu tiên tiếng Anh hơn để người nước ngoài đọc được :v Mà thôi anh đã dùng tiếng Việt nên em cũng thế luôn :v

Tạm thời em set cố định là 80% thì ngừng sạc. Anh có thể bật/tắt nó trong Battery Health.
Version này em cũng thêm support fan speed. Anh check giúp xem nó có hoạt động ko (iStats).

Do em dùng API mới của Vi

[2020-08-24 08:25] tunglamvghy commented on #79
Test ok với bản Debug nhé bác. Chạy ổn định 😁. Mặc dù pin còn hơn 80% cắm sạc là ngừng không sạc nữa. Đèn báo từ đỏ chuyển thành trắng luôn.
Khi tắt trong Battery Health thì máy lại tiếp tục sạc, đèn báo chuyển thành đỏ. Dưới là ảnh lúc máy mới khởi động.

"This kext (debug version) ran successfully on my Hackintosh. Despite the battery was over 80%, my laptop stoped charging when I plugged it in.

[2020-08-24 09:18] tunglamvghy commented on #79
After changing from Debug to Release version, the kext doesn't work (still charging until full and not show fan speed). And I changed back to debug version, the battery threshold worked but fan speed doesn't work anymore.
Update: Working again after reset NVRAM. 😅
![Screen Shot 2020-08-24 at 16 18 18](https://user-images.githubusercontent.com/37168923/91026789-6f144800-e625-11ea-8f06-36e7404e4205.

[2020-08-27 09:28] FlasHRender opened #84 "AsusSMC 1.3.1 Breaks Trackpad"
The latest 1.3.1 breaks trackpad on my UX391UA.

[2020-08-27 09:46] thalatamsainath commented on #84
Ok it is fixed by installing the new daemon.

[2020-08-27 09:46] #84 closed

[2020-09-03 12:53] Vmonheros commented on #79
Hi.

I use your new kext since you release it and no issue on my side (UX430 UAR). Battery level stop at 83%.

[2020-09-04 23:16] Paolo7297 opened #85 "Icelake, need help with keyboard backlight and fn keys"
Hello, I have Ice Lake and i don't know how to enable the keyboard backlight.
I also have different fn keys:
f1: Mute
f2: vol -
f3: vol +
f4: screen backlight -
f5: screen backlight +
f6: disable touchpad
f7: cycle backight (4 level, after the highest -> off, then again)
f8: switch monitor
f9: ins
f10: fine
f11: pag up
f12: pag down

I also have a sort of "lock" using fn+esc (it enables a led on f

[2020-09-13 18:44] mklengel opened #86 "Solved: Keyboard Backlight works with patched DSDT but not with Hotpatching"
My Asus G750JM (Haswell, no ALS) works nearly perfect: OpenCore 6.1, Catalina, AsusSMC 1.4.0

The Keyboard Backlight works only with a patched DSDT but not with Hotpatching (no customized DSDT, only SSDT stuff).
The keys for this are Fn-F3 (decrease keyboard backlight) and Fn-F4 (increase keyboard backlight). Typing the keys lets pop up a small window so the right methods are called:

![Bildschirm

[2020-09-15 17:56] hieplpvip commented on #86
Hi, since you have marked this issue as solved, I will close it.

Just a little remark: `ALSS` and `ALSC` is not needed on v1.4.0. You can safely remove them.

[2020-09-15 17:56] #86 closed

[2020-09-15 17:57] #79 closed

[2020-09-15 18:02] hieplpvip commented on #75
Hi, please test v1.4.0

[2020-09-15 18:05] #70 closed

[2020-09-15 18:06] #65 closed

[2020-09-15 18:06] #68 closed

[2020-09-15 18:07] #61 closed

[2020-09-15 18:07] #53 closed

[2020-09-15 18:10] #34 closed

[2020-09-15 18:10] #33 closed

[2020-09-15 18:11] #67 closed

[2020-09-15 18:23] #80 closed

[2020-09-15 18:24] #18 closed

[2020-09-15 20:22] Ubsefor opened #87 "AsusSMC could not be loaded"

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:23] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 20:24] Ubsefor commented on #87
AsusSMC 1.4.0 could not be loaded by Clover 5120, due to LiluFriend doesn’t load

[2020-09-15 21:33] mklengel commented on #86
Thank you for the information and - of course - your invaluable work.

Regards
Michael

„Don’t talk about nothing you know nothing about.“ John Young

[2020-09-16 17:59] Ubsefor commented on #87
The problem also persists on Clover 5122

[2020-09-16 22:24] hieplpvip commented on #87
OpenCore works fine for me

[2020-09-17 10:22] lathoskaneis commented on #87
I also have the same problem with Clover tested on 5117,5122.

[2020-09-17 12:32] hieplpvip commented on #87
Could you guys dump boot log?

[2020-09-17 13:23] JoK3rLeE opened #88 "AsusSMC 1.4.0 causes battery not charging"
I Don't know what causes the issue, but my Asus S510UQ won't charge after updated to v1.4.0 Revert back to 1.3.1 everythings back to normal.

[EFI.zip](https://github.com/hieplpvip/AsusSMC/files/5239347/EFI.zip)

[2020-09-17 13:59] lathoskaneis commented on #87
Do you need the whole log?

[2020-09-17 14:05] lathoskaneis commented on #87
![scrnsht](https://user-images.githubusercontent.com/71437706/93482105-ffce0300-f907-11ea-9de4-d99caa8fbcc2.png)

[2020-09-17 14:06] hieplpvip commented on #88
It's actually a new feature in v1.4.0:
[code]

[2020-09-17 14:06] #88 closed

[2020-09-17 15:06] JoK3rLeE commented on #88
OMG, I didn't saw that function in changelog, my bad :sweat_smile: and thanks!

[2020-09-18 11:30] lathoskaneis commented on #87
Can I help more?Do you need full log or can I try something else?
Thank you for your time Hiep.

[2020-09-20 01:32] bernardo415 commented on #87
I want to test with opencore on my asus X540LA but not being able to use DSDT in OC as I can use this kext and patch what it takes to make it work?

[2020-09-20 09:07] Ubsefor commented on #87
It works fine with OC, as OC doesn’t need _LiluFriend.kext_ for AsusSMC to work properly
Also, there’s a branch in this repo with configs for OC, I will soon create a merge request to fix a config for UX430UAR, as the sleep doesn’t seem to work with provided one, but I fixed it on my machine

[2020-09-22 11:59] hieplpvip commented on #87
Please test this
[AsusSMC-1.4.1-RELEASE.zip](https://github.com/hieplpvip/AsusSMC/files/5261197/AsusSMC-1.4.1-RELEASE.zip)

[2020-09-22 22:09] lathoskaneis commented on #87
For me seems to load correctly, everything works, keyboard backlight, automatic brightness, fn+ keys.
Just to let you know that I have never used lilufriend in order to load your kext (and still I am not using it)
My laptop is an UX410UN with Intel 8250U without nvdia gfx.
Thank you for your work.

[2020-09-26 11:48] Autines commented on #75
Kext could not be loaded with Clover.

[2020-10-10 18:16] ghost commented on #56
Did you solve? I have the same model. Keyboard backlight actually worked with clover+Mojave without patching, using fn+up and fn+down, but now it doesn't work on Catalina using Opencore

[2020-10-10 19:43] cowpod commented on #56
take a look at the change log.
https://github.com/hieplpvip/AsusSMC/releases/tag/1.4.1

[2020-10-10 21:19] ghost commented on #56
I tried to use ROG-hid and all blackdragon's stuffs, but it doesn't work, the backlight of my keyboard are stuck at the same color and turned on. Any advice?

[2020-10-10 21:23] cowpod commented on #56
it worked fine for me when i tried it. i dont have this device any more. make sure you follow the instructions for rog-hid - there are some extra steps involved.

[2020-10-10 21:25] ghost commented on #56
Thanks a lot!

[2020-10-11 09:46] ghost commented on #56
Lol, it’s working, thanks! But what a pain.

[2020-10-25 10:45] sj64 commented on #87
Prob not very helpful - just thought I'd share my experiences with this excellent kext.

Hardware: Asus UX310UA 2.9GHx i7 24GB ram
MacOs : Catalina 10.15.7
Bootloader: rEFInd chain loading opencore just for MacOs (Quadboot all UEFI system)
All kexts latest versions = AsusSMC 1.4.1

Had this kext working perfectly with 10.15.4 (Clover).
Different story with current system.
None of the suggested alt

[2020-11-11 16:15] josemmc95 commented on #75
Still don’t work on 1.4.1 using OpenCore...

Is the only thing that doesn’t work to get a perfect hackintosh.

[2020-12-01 07:48] iancbogue opened #89 "K501UW-AB78 Brightness, Backlight, & Airplane Mode keys not working on OpenCore, what are the instructions for patching OC boots?"
_First let me say that I have read the instructions and understand that DSDT patching is required to get this completely working._
I created this issue because there are no clear instructions that I can find for how this applies to an OpenCore boot since patching DSDT.aml isn't the norm.

I got just over half of the function keys working on my OpenCore Catalina installation thanks to AsusSMC, thos

[2020-12-07 09:22] brunogermain opened #90 "AsusSMCDaemon install issue"
All Fn keys working on Asus UX310UA running Mojave and Big Sur except F1 and F2.
If I try to install AsusSMCDaemon running install.sh I get these errors:

sh-3.2# /Users/brunog/Downloads/AsusSMC-master/AsusSMCDaemon/install_daemon.sh
mkdir: /usr/local/bin/: File exists
cp: /Users/brunog/Downloads/AsusSMC-master/AsusSMCDaemon/AsusSMCDaemon: No such file or directory
chmod: /usr/local/bin/AsusSMCDae

[2020-12-08 08:17] brunogermain commented on #90
Figured it out myself...
AsusSMCDaemon was not in the same folder as install_daemon.sh

[2020-12-08 08:17] #90 closed

[2020-12-17 12:21] carlosgaros opened #91 "Big sur 11.1"
Hi support big sur 11.1 ?
Patch and install kext and not work .
Asus N550JK Big Sur 11.1 Clover 5127

[2020-12-17 12:22] Ubsefor commented on #91
All is working correctly, check the install instructions

[2020-12-17 20:07] carlosgaros commented on #91
look logs and find only this :
Dec 17 10:43:33 MacBook-Pro-kamil com.apple.xpc.launchd[1] (com.hieplpvip.AsusSMCDaemon): This service is defined to be constantly running and is inherently inefficient.
Dec 17 10:43:33 MacBook-Pro-kamil com.apple.xpc.launchd[1] (com.hieplpvip.AsusSMCDaemon): The ServiceIPC key is no longer respected. Please remove it.
[DSDT.aml.zip](https://github.com/hieplpvip/Asus

[2020-12-17 20:49] Ubsefor commented on #91
Please install the latest version of AsusSMC Daemon using provided scripts. The kext inself should work just fine for basic brightness and volume management, providing you have the standard asus's fn-keys layout (if not, you have to patch your DSDT to map those keys accordingly)
Also check, that you have the latest Lilu/WEG/VirtualSMC

[2020-12-17 21:24] carlosgaros commented on #91
Check all . All fnk key work sleep, wifi, backlight lcd,sound,disable lcd , only keyboard light not work .... DSDT send zip .

Thanks .Now all work .asus n550jk not have light sensor after patch fakeals work perfekt :)

[2020-12-19 07:05] #91 closed

[2020-12-19 07:06] carlosgaros commented on #91
Thanks .Now all work .asus n550jk not have light sensor after patch fakeals work perfekt :)

[2020-12-23 20:36] ccnmxns commented on #85
Same keyboard layout here. Applying BrightnessKeys from Acidanthera too but can't modify kbd's brightness.

About FN->Fx, it's on SysPref > Keyboard. I think if the first thing is solved the second one will be too.

btw what Zenbook do you have?

[2020-12-23 22:34] Paolo7297 commented on #85
Using the patches from this repo i managed to make them working, plus i used the fn+f6 to lower the keyboard brightness and fn+f7 to increase the keyboard brightness.
I tried to modify the code to get the four step backlight, but it didn't worked as i wanted, so i rolled back.

to enable the lock, I don't know where to start...

EDIT: I have VivoBook S512JP

[2020-12-27 00:03] rafaelmaeuer commented on #20
What does work for you in BS? Backlight in general or changing backlight brightness with fn-keys?

[2020-12-27 01:17] rafaelmaeuer commented on #74
Is there any progress on solving this problem?

[2020-12-27 08:46] Ubsefor commented on #74
It was solved long time ago with newer AsusSMC

[2020-12-27 16:22] gulios commented on #20
Backlight:
- fn keys
- "turn keyboard backlight off after.." from keyboard settings
- fn+A - but it works odd so i don't use it

[2020-12-27 16:25] gulios commented on #20
yes it's loaded
[code]

[2020-12-28 11:24] rafaelmaeuer opened #93 "FN Keyboard Brightness ASUS UX32VD macOS 11.1"
Hi and thanks all very much for this great kext.

FN keyboard brightness stopped working on my ASUS UX32VD with upgrading to Catalina.
Now when doing a re-install with Big Sur I try to fix this problem.

I am using the newest kexts: AsusSMC 1.4.1, Lilu 1.5.0 and WEG 1.4.5.
I re-patched my DSDT according to instructions with kbl_ivybridge.txt.
I also tried applying the single fn-key patches, but wi

[2020-12-28 11:25] rafaelmaeuer commented on #20
strange for me its not working, linked my issue

[2020-12-28 11:26] rafaelmaeuer commented on #74
hmm for me its not working, I created a new issue to discuss

[2021-01-03 13:36] rafaelmaeuer commented on #93
@hieplpvip @Ubsefor @gulios any ideas on this?

[2021-01-03 13:46] Ubsefor commented on #93
Could it be that you need to check your DSDT in terms of correct port mapping? The issue can be due to system not restoring correct power states after sleep => this can be a signal of bad USB port mapping or USB power management. The patch is in DSDT.
Also, I do encourage you to check whether AsusSMCDaemon is not getting killed for some reason and restarts after sleep correctly. This can happen if

[2021-01-03 14:38] rafaelmaeuer commented on #93
Thank you for the answer! I will check the USB port mapping.

When running `launchctl list | grep Asus` it outputs `580	0	com.hieplpvip.AsusSMCDaemon` after sleep.
Seems like the deamon is running after sleep if this is the correct way of checking this?

At the moment I am still using clover, as the transition to OC will cost me a lot of time.
It might be necessary or worth, but if I can get keybo

[2021-01-03 20:02] Ubsefor commented on #93
It is actually not that hard to transition from clover to OC, there are guides out there.

Either way, if you have your DSDT patches, then it shouldn’t be hard at all.

[2021-01-05 12:14] rafaelmaeuer commented on #93
Ok after completely re-patching the whole DSDT (which seemed not to work correctly in the previous attempt) it is working now!!! This kext is really great work - thanks to everybody involved! On small problem remains: Using the "Pause" key which is located right to F12 causes display brightness to increase... any idea on how to disable this?

[2021-01-13 17:09] rafaelmaeuer commented on #93
How can I find out the correct key code to patch this key?

[2021-01-21 07:47] ccnmxns commented on #93
Use Karabiner in order to remap Function keys :-)

[2021-01-21 07:49] Ubsefor commented on #93
Its a dirty hack. The author needs to find correct keycodes for his keyboard. I suggest browsing through hieplpvip’s ACPI patches as there are the keycodes you are looking for.

[2021-01-25 08:12] Alex-V2000 opened #94 "Battery Charge Threshold not working !"
No battery health appears in the settings !
ASUS ROG STRIX SCAR 15 (2020)

[2021-01-29 15:25] rafaelmaeuer commented on #93
@Ubsefor I actually tried the transition to OC, the system boots and most things are working. But it seems that loading a patched DSDT is not recommended/working at all. So FN keys are without function with OC now. Yes I do have all my DSDT patches, but how are they applied with OC?

[2021-02-01 00:15] rafaelmaeuer commented on #93
Finally I got FN keys working - I had some trouble injecting the VoodooPS2 kext. Now everything works except changing the keyboard backlight. When pressing the keys I see the overlay symbol which shows that the OS is receiving the commands. But no changes are applied to keyboard backlight. Any idea how to fix this?

[2021-02-01 20:03] rafaelmaeuer commented on #93
No backlight after sleep is back too -> so I am stuck with the original problem: https://github.com/hieplpvip/AsusSMC/issues/93#issue-775351745
@Ubsefor I generally appreciate the transition to OC, but it brought the already solved problem back

EDIT1: I use the debug kext now with `-asussmcdbg` boot-arg, despite verbose boot how can I see the logs?
EDIT2: Found the logs in Hackintool -> Boot. Thi

[2021-02-02 17:32] rafaelmaeuer commented on #93
Today I got control over keyboard-backlight twice, but I have no clue where to search for a correlation.

It worked after re-patching the DSDT (not reproducible). I thought it might be related to previous USB- or following ALS-Patches but I tried all possible combinations -> not reproducible.

I investigated if the selected keyboard type has influence (there are `Keyboard` and `Apple Virtual Keybo

[2021-02-03 09:45] rafaelmaeuer commented on #93
This is working by the way -> will keep it as solution

[2021-02-03 09:47] rafaelmaeuer commented on #93
Already working sleep breaks with OpenCore too - although correctly applied GPRW-Patch (works on other machine). Without any help I need to transition back to Clover for now...

[2021-02-04 22:03] rafaelmaeuer commented on #93
Using OpenCore on my main system now, the move back to clover feels like going a step back/giving up with this laptop.

Therefore in a last effort I rebuilt the Hackintosh from scratch following all the way down of OpenCore's guides. As OC prefers ACPI-hot-patching with SSDT's instead of static ACPI-patching via DSDT, I needed to find solutions for all kind of static DSDT-patches which made the [U

[2021-02-05 01:03] rafaelmaeuer commented on #93
just found [SSDT-ATK-BDW.dsl](https://github.com/hieplpvip/Asus-Zenbook-Hackintosh/blob/master/src/acpi/include/SSDT-ATK-BDW.dsl) and [SSDT-RALS.dsl](https://github.com/hieplpvip/Asus-Zenbook-Hackintosh/blob/master/src/acpi/include/SSDT-RALS.dsl) in [hieplpvip/Asus-Zenbook-Hackintosh](https://github.com/hieplpvip/Asus-Zenbook-Hackintosh) repo - will give it a try.

[2021-02-05 16:02] rafaelmaeuer commented on #93
Ok with [hieplpvip's](https://github.com/hieplpvip/Asus-Zenbook-Hackintosh) repo I was finally able to nail the issue:
The problem was SMCLightSensor.kext enabled which conflicts AsusSMC.kext in handling the ALS sensor.

Now with just AsusSMC.kext enabled and SSDT-patches inspired by [SSDT-ATK-BDW.dsl](https://github.com/hieplpvip/Asus-Zenbook-Hackintosh/blob/master/src/acpi/include/SSDT-ATK-BDW.d

[2021-02-05 17:59] rafaelmaeuer commented on #93
As the required keycodes for `Pause` (F15 in karabiner) and `Print` (F13 in karabiner) are not in hieplpvip’s ACPI patches, I followed this [guide](https://www.insanelymac.com/forum/topic/330440-beginners-guide-fix-keyboard-hot-keys-functional-keys/) to get the keycodes. ACPI-Debug doesn't gave any output for me, but with VoodooPS2 (Debug) I got `e045=71` and `e037=69`. I don't know if its possibl

[2021-02-05 18:06] rafaelmaeuer commented on #93
I am wondering about two last things:

1. There is no feedback with ALS-toggle (Fn+A), but I remember there was once some overlay, maybe from AsusNBFnKey times. Using AsusSMC-Daemon there must be a possibility to give an overlay-feedback like backlight/volume-changes?
2. Karabiner offers the possibility to toggle the LED in CAPS-lock key. There is such a LED in the F2 key too. Is there a possibili

[2021-02-15 16:07] Eaxyx opened #95 "ROG GX531 Keyboard backlight does not work"
![image](https://user-images.githubusercontent.com/50746444/107969417-b5ea6580-6fea-11eb-8a09-404d1ffa8ceb.png)
Although the backlight option appears in the system, I can't adjust the brightness of my keyboard through this option

[2021-02-15 16:08] Eaxyx commented on #95
Please tell me how to modify DSDT to make it work

[2021-02-15 16:10] Eaxyx commented on #95
^^KBLV = Arg0 / 16，I can't find this description in my DSDT

[2021-02-15 16:15] Ubsefor commented on #95
Please, stop spamming in the issues, consider writing one big comment instead of a huge amount of small ones.
Also, please check the instructions in repo itself, they are quite self-explanatory.

There is a whole section about ACPI patching for correct brightness controll. Also, make sure that daemon is running.

This should work. Otherwise, we need logs anyway, IOReg dump at least.

[2021-02-17 13:20] Eaxyx commented on #95
I'm sorry, but I'm just a person who is ignorant about this project. Please forgive my irrationality. I don't know where to find the modification of ACPI. If you can, please give me a link about the repair of ACPI. Thank you for your help. Here's my DSDT
[
[DSDT-GX531GS.zip](https://github.com/hieplpvip/AsusSMC/files/5995891/DSDT-GX531GS.zip)
](url)

[2021-02-17 14:49] Ubsefor commented on #95
Here you go: [link](https://github.com/hieplpvip/AsusSMC/wiki/Installation-Instruction)

Basically, to remap the buttons you should change the keycode to different one (see classic zenbook keyboard layout to get some ideas about what buttons need to go where) in your ACPI.

For example, you need to change 0x5E opcode [here](https://github.com/hieplpvip/AsusSMC/blob/master/patches/f1.txt) (after ap

[2021-02-21 18:52] Krsubba13 opened #96 "Keyboard backlight not working since 1.2.3. Kaby Lake R"
Keyboard backlighting does not work since version 1.2.3. My laptop Asus VivoBook k510un-bq502.
EFI: https://drive.google.com/file/d/1kuSB0TbT7Dg9tAVa-I46G3OOBL7vhR1b/view?usp=sharing
Ioreg: https://drive.google.com/file/d/1bKTsQxyMNfrA_7pmZaPAPL1fb2tHo_xs/view?usp=sharing

[2021-04-17 10:50] andreademasi opened #97 "Dependencies not found for kexts AsusSMC"
Hi everyone, first of all thank you for this project, i'm trying to make backlight and battery health charging working but it seems that i can't manage to get AsusSMC properly loaded:
[code]
Any ideas why AsusSMC can't find these kexts? I do have them installed
My laptop is a ZenBook UX433FN, let me know if you need more details.

[2021-04-17 10:54] Ubsefor commented on #97
Prob. incorrect load order or kexts version, please check that. Lilu should be loaded before AsusSMC. I suggest following my kext load order:

![Снимок экрана 2021-04-17 в 13 53 52](https://user-images.githubusercontent.com/38097265/115110483-5a097200-9f84-11eb-8c8b-42db27bc2ba5.png)

[2021-04-17 11:08] andreademasi commented on #97
Ops, you're right, totally missed that thanks.

[2021-04-17 11:08] #97 closed

[2021-04-22 12:15] adultano opened #98 "Keyboard Backlight not working Asus N752VX"
Hi - I struggle with my keyboard backlight. I have an Asus N752 laptop with Skylake Intel Core i7-6700HQ and Intel HD 530 1920 x 1080 IGPU. I use OpenCore and Big Sur. Everything else works, e.g. screen brightness with FN Keys and all other FN Keys. I dual boot with Windows 10, there keyboard backlight works. I also fake ALS since it's not built in. In Keyboard settings I see backlight available.

[2021-04-23 13:36] adultano commented on #98
Found a the solution meanwhile. Works with Big Sur

[2021-04-23 13:36] #98 closed

[2021-04-23 13:38] Ubsefor commented on #98
Please, do not just close the issue without describing how you managed to fix it. It could help others with the same problem.

[2021-04-23 14:14] adultano commented on #98
Sure - sorry. Let me try to explain then. My system was already working fine, Dual Boot Win 10 and Big Sur through OpenCore. Except keyboard brightness everything was working. I tried to dig deeper and failed a little over two days now. LabTick didn't work, Karabiner didn't work although my keyboard was recognized to be compatible (in system preferences -> keyboard, I had the brightness options av

[2021-05-05 18:27] osxfr33k opened #99 "Can you check you gmail"
I sent you an email from osxfr33k.

[2021-05-18 09:43] ntd8466 opened #100 "Is there a hotpatch for whiskey lake?"
I'm new to patching and i want to use ssdt instead of patching ddst. Is there a way to do that?

[2021-06-20 07:54] pratiknborkar opened #101 "Is there any patch is available for Comet Lake"

[2021-06-20 08:38] Ubsefor commented on #101
Check #93 and #95

[2021-06-21 18:22] pratiknborkar commented on #101
As per Installation-Instruction I have added ASL patch on DSDT and Install AsusSMCDaemon but nothing happens.
Hey man as per this https://github.com/hieplpvip/AsusSMC/wiki/Installation-Instruction
Custom Fn Keys Patching, Custom Keyboard Backlight Patching links are empty

[2021-08-06 04:19] astro-lee-k opened #102 "Single FN Key for Keyboard Backlight (Comet Lake Laptop)"
Hi my laptop (ASUS ZenBook Pro Duo 15 UX582) has only one key for keyboard backlight control. I've check the guide for SSDT/DSDT; however, it did not work.

I attached my Debug files.
https://drive.google.com/file/d/1fB-K3Dw2CISDaLb6qZmpKOe4xM14fe5_/view?usp=sharing

Similar issue:
https://github.com/hieplpvip/AsusSMC/issues/101

[2021-08-12 03:17] shiecldk commented on #102
@Ubsefor @hieplpvip @AR-CADE Could you help?

[2021-08-12 03:21] shiecldk commented on #20
Could anyone confirm if this still works in Catalina 10.15.7 and Big Sur?

[2021-08-12 04:44] Ubsefor commented on #102
Check #93 and #95

[2021-08-12 21:24] rafaelmaeuer commented on #20
Yes I can confirm its working on macOS Big Sur 11.4 with OpenCore 0.7.1, check [rafaelmaeuer/Asus-UX32VD-Hackintosh](https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh) for details.

[2021-08-14 03:42] shiecldk commented on #20
@rafaelmaeuer Could  you share your SSDT or EFI folder you use for it?

[2021-08-14 07:30] shiecldk commented on #93
@rafaelmaeuer @Ubsefor I followed this topic to create my SSDT for my ASUS Comet Lake laptop. However, I cannot get the keyboard backlight and other FN keys work pm Catalina 10.15.7, nor is ASUSSMC.kext seemed to be loaded when I checked `kextstat | grep -i ASUSSMC`. However, `launchctl list | grep Asus` shows`653	0	com.hieplpvip.AsusSMCDaemon`.  Could you help me check my SSDT?

[SSDT-ATK.dsl.txt

[2021-08-14 07:52] shiecldk commented on #74
I have same problem in here. Still cannot enable this option.

[2021-08-24 02:14] Jie2GG commented on #100
Please reference SSDT
[code]

[2021-08-28 00:03] shiecldk commented on #102
@Ubsefor @hieplpvip @AR-CADE I tried but the Keyboard Backlight FN key doesn't work. I also is it possible to enable the numpad? I can confirm this python diver work for me in Ubuntu. I was hoping to find a way to port it to macOS.
https://github.com/mohamed-badaoui/asus-touchpad-numpad-driver

[2021-09-18 19:12] robertr1229 commented on #102
Same issue with Ice Lake. Laptop. I have tried multiple mappings without success to get the f4,f5, and f7 keys to function properly. The link to custom mappings in the wiki is dead with a page that says "to do"

[2021-09-19 02:50] shiecldk commented on #102
@robertr1229 I actually got the FN key for volume, brightness, and keyboard backlight work on my UX582 laptop. Check my repo for ASUSFN.aml and AsusSMC.aml.

https://github.com/shiecldk/ASUS-ZenBook-Pro-Duo-15-OLED-UX582-Hackintosh/tree/main/EFI/OC/ACPI

[2021-09-19 07:04] whatnameisit opened #103 "Resume from hibernation turns off battery threshold at 80 percent"
On normal use, AsusSMC 1.4.0+ caps the battery level at 80 percent if `Battery Health` in `Energy Saver` is toggled on.
When the machine resumes from hibernation, the threshold is ignored and the battery keeps on charging until 100 percent.
I'm not good with logging (and about zero knowledge in coding), so if anyone could tell me how, I'll collect the logs and upload them here.

[2021-09-19 07:15] Ubsefor commented on #103
This feature shouldn't work at all on non-apple hardware. I tried to use it for a bit and noticed that my battery doesn't charge correctly with this turned on: battery dies at 30-40% immediately.

I don't know whether you have the same issue or not, but I suggest at least checking it out.

[2021-09-19 07:40] whatnameisit commented on #103
I'm not sure we are on the same issue. By "this feature," did you mean battery threshold on hibernation or just the battery threshold?
Hibernation works with HibernationFixup.kext and battery threshold works with AsusSMC.kext.
When both kexts are used together, battery threshold is ignored when resuming from hibernation. A simple reboot makes the limit to kick in and prevent the charging above 80

[2021-10-15 11:39] whatnameisit commented on #103
I fried my laptop's motherboard and sold it for 100000 won. I won't close this issue though because it's a real one.

[2021-11-29 23:09] ericgaldeano opened #104 "I want asussmmc.kext to charge until 59% only :D"
I want to congratulate you for your amazing work, I am a student in Italy and I am amazed of your work. I did install on my Asus X411UF Monterey hackintosh thanks to the pack : https://github.com/tunglamvghy/AsusS530UN-hackintosh  that i am pretty sure includes the asussmc.kext file because this pack limit the battery charged to 80% more or less although mine is 83%. In my windows I have set the m

[2021-12-11 03:29] nvmnghia opened #105 "SSDT patching?"
I read it somewhere on the Dortania guide that you shouldn't put `DSDT.aml` on ACPI (but it didn't say `SSDT` was the only option neither). Is there any way to just do `SSDT` patch, instead of patching the whole `DSDT`?

[2022-01-02 20:31] hans-nullpt commented on #105
Yes, you can patching EC Query without DSDT. Just rewrite the EC Query on SSDT, and add Rename the Original EC Query on config.plist

Here is the example: https://github.com/hamcuks/hackintosh-x442urr/blob/master/EFI/OC/ACPI/SSDT-X442UR.dsl

[2022-01-03 17:13] nvmnghia commented on #105
Hi, this is a bit overwhelming for me @hamcuks . Is there any beginner guide on ACPI language?

[2022-01-05 01:33] hans-nullpt commented on #105
AFAIK, It's the simple way if wanna using SSDT.

Just follow the steps:
1. Rename the original EC Query from DSDT (Example: _Q0E to XQ0E). Rename using find and replace in config.plist
2. Rewrite the modified EC Query in SSDT

[2022-02-08 16:44] Chetan8624 commented on #51
Were you able to get keyboard backlight working? If yes, please let me know.

[2022-02-08 17:52] Chetan8624 opened #106 "Asus TUF FX505GD - How to make keyboard backlight 4 level or 16 level"
My keyboard layout is:
F1/F2/F3 Mute/Decrease/Increase volume
F4 Turn off microphone
F5 Fan speed
F6 Turn off screen
F7/F8 Decrease/Increase screen backlight
F9 Switch monitor
F10 Enable/Disable trackpad
F11 Sleep
F12 Airplane mode
Fn+Down/Up Decrease/Increase keyboard backlight

I was able to make keyboard backlight work using the kbl_tuf.txt patch from this repo.
Is there any way to make this as

[2022-03-19 09:54] hoaug-tran commented on #93
Hey everyone, is there anyway guide for patch keyboard blacklight? tks

[2022-03-20 02:11] rafaelmaeuer commented on #93
Have a look at the following links which should get you started:
- https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh/blob/master/ACPI/README.md#als--keys-fnbacklight
- https://dortania.github.io/Getting-Started-With-ACPI/ssdt-methods/ssdt-long.html

[2022-04-01 20:04] irinaxariton commented on #96
I have that trouble on asus ux490uar but working well on asus ux430unr
is there any solution?

[2022-04-17 08:20] hoaug-tran commented on #93
I tried patch according to [SSDT-ATK.dsl.txt](https://github.com/hieplpvip/AsusSMC/files/6986083/SSDT-ATK.dsl.txt)
 and [SSDT-RALS.dsl.txt](https://github.com/hieplpvip/AsusSMC/files/6986084/SSDT-RALS.dsl.txt) but my keyboard blacklight not work (and cant control ), it just show control keyboard blacklight at Control Center. Please help me, thank you

[2022-04-17 18:47] unknownr0ad commented on #85
Hey man I have the same laptop, would you mind to share your configuration (EFI) folder with me so I can make my keyboard backlight works as it supposed to, I dont know anything about patching, thanks in advance

[2022-06-02 12:10] Bhavinjain260 commented on #104
yes it can be done

[2022-06-02 12:12] Bhavinjain260 commented on #104
![image](https://user-images.githubusercontent.com/49932650/171626391-53986c18-decf-4287-9347-9534ae78f848.jpeg)
Replace 80 with 59 or 57
and compile the kext

[2022-06-02 12:17] Bhavinjain260 commented on #104
the files is in this location
AsusSMC > AsusSMC.cpp

[2022-06-15 16:08] imrtoyi opened #107 "Some FN keys and keyboard backlight not working on Asus Vivobook Flip 14 TP412F."
Hello!
For several days I tried to get my keyboard backlight and some fn keys to work, but I did not succeed, so I'm asking for help here. There was a post in 2019 with a similar issue, it was marked as #TODO, but apparently the issue was not resolved. Below I will write all the information that I could find out, I hope it will help in solving the problem. Thanks in advance!
1. Notebook Informatio

[2022-06-16 13:24] imrtoyi commented on #107
Keyboard backlight and fn keys also works in Ubuntu. acpi_listen:
![Screenshot from 2022-06-11 10-39-21](https://user-images.githubusercontent.com/14141507/174079341-1a905588-4e9b-4dae-b9dc-9a647617200f.png)
If i turn on the backlight in windows or linux the backlight level is saved on macos boot and the backlight turns off after waking up from sleep

[2022-06-28 09:30] imrtoyi commented on #107
@hieplpvip @Ubsefor @AR-CADE can you help? 👉👈

[2022-10-16 06:39] astro-lee-k opened #108 "Always Active FN Key (or Invert FN Key)"
Hello,

I'm using AsusSMC with UX582 on macOS Monterey. Most FN keys work well with AsusSMC; however, I feel it annoying that I always need to hold FN key + function keys change volume, brightness, etc. I wonder if it is possible to put the FN key always on, just as how it can be done in Windows and Linux, without the need to always hold FN key? Thanks!